header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  padding: 0 1.2rem;
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  .brand {
    img {
      width: 16rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .nav {
    font-weight: 300;
    display: flex;
    justify-content: center;
    column-gap: 1rem;

    .nav-item {
      padding: 0.6rem 1rem;
      border: 1px solid var(--color-background);
      border-radius: 0.5rem;
      font-size: 1.5rem;
      transition: border-color 0.2s ease-in-out;

      &:hover {
        border-color: var(--color-primary);
        cursor: pointer;
      }

      &.active {
        border-color: var(--color-primary);
      }
    }
  }

  .profile-container {
    width: 20rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .material-symbols-outlined {
      font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
      transition: color 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        color: var(--color-primary);
      }
    }
  }
}
