<header>
  <div class="brand">
    <img src="assets/images/brand/atc-optima.svg" routerLink="home" />
  </div>

  <ul class="nav">
    <li class="nav-item" routerLink="relations" routerLinkActive="active">
      RELATIONS
    </li>

    <li class="nav-item" routerLink="web2print" routerLinkActive="active">
      WEB
    </li>

    <li class="nav-item" routerLink="jobs" routerLinkActive="active">JOBS</li>

    <li class="nav-item" routerLink="stock" routerLinkActive="active">STOCK</li>

    <li class="nav-item" routerLink="delivery" routerLinkActive="active">
      EXPEDITIONS
    </li>

    <li class="nav-item" routerLink="application" routerLinkActive="active">
      POSE
    </li>

    <li class="nav-item" routerLink="inventory" routerLinkActive="active">
      MATERIEL
    </li>

    <li
      class="nav-item"
      routerLink="admin"
      routerLinkActive="active"
      *ngIf="isAdmin"
    >
      ADMIN
    </li>
  </ul>

  <div class="profile-container">
    <span class="chip chip-primary">{{ userDisplayName }}</span>

    <span class="switch-off material-symbols-outlined ml-1" (click)="onLogOut()"
      >power_settings_new</span
    >
  </div>
</header>
