<div class="p-3 bg-color-error" *ngIf="!success">
  <h2
    class="mt-1 fw-light text-center fs-2 d-flex justify-content-center align-items-center"
  >
    <app-icon class="fs-5">delete_forever</app-icon>
    Supprimer un utilisateur
  </h2>

  <p class="p-2 fs-1-5 text-center">
    Êtes vous sure de vouloir supprimer l'utilisateur<br />
    <span class="fw-bold">
      {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
    </span>
  </p>

  <div
    class="p-2 bg-color-white color-error fw-medium rounded-0-5 mb-2"
    *ngIf="error$ | async; let error"
  >
    {{ error }}
  </div>

  <div class="mt-3 text-center">
    <button class="btn btn-secondary mr-1" mat-dialog-close>Annuler</button>

    <button class="btn btn-outline" (click)="removeUser()">Supprimer</button>
  </div>
</div>

<div class="p-3 bg-color-gray-3" *ngIf="success">
  <h2
    class="mt-1 fw-light text-center fs-2 d-flex justify-content-center align-items-center"
  >
    <app-icon class="fs-5">delete_forever</app-icon>
    Utilisateur supprimé!
  </h2>

  <div class="mt-3 text-center">
    <button class="btn btn-secondary mr-1" mat-dialog-close>Fermer</button>
  </div>
</div>
