<div class="container p-3 bg-color-gray-3">
  <h2 class="mb-4 mt-1 fw-light text-center">
    Modifier le rôle de
    <span class="color-primary">
      {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
    </span>
  </h2>

  <form [formGroup]="form" (ngSubmit)="saveUser()">
    <mat-form-field appearance="outline" color="accent" class="mb-2">
      <mat-label>Role</mat-label>
      <mat-select formControlName="roleId">
        <mat-option *ngFor="let role of roles$ | async" [value]="role._id">
          {{ role.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div
      class="p-2 bg-color-error rounded-0-5 mb-2"
      *ngIf="error$ | async; let error"
    >
      {{ error }}
    </div>

    <div class="mt-3 text-center">
      <button class="btn btn-secondary mr-1" mat-dialog-close>Annuler</button>

      <button class="btn btn-primary">Enregistrer</button>
    </div>
  </form>
</div>
