<div class="container" *ngIf="job">
  <div class="title">
    RESA MATIÈRE
    <div class="flex-fill text-center">
      JOB°
      <span class="fw-bold">{{ job.mp.number }}</span>
    </div>
    <div class="text-right fs-1-2">
      <p>
        Départ le
        <span class="fw-bold">
          {{ job.mp.sendingDate | date : 'dd/MM/YY' }}
        </span>
      </p>
      <p>
        Graphiste: <span class="fw-bold">{{ user }}</span>
      </p>
    </div>
  </div>

  <ul class="resa-list" *ngIf="paoReservations?.length">
    <li class="resa-list-item" *ngFor="let resa of paoReservations">
      <div class="icon">
        <app-icon *ngIf="isOrdered(resa.status)" class="fs-2">
          local_shipping
        </app-icon>
        <app-icon *ngIf="isPending(resa.status)" class="fs-2">
          check_box_outline_blank
        </app-icon>
        <app-icon *ngIf="isTreated(resa.status)" class="fs-2">
          check_box
        </app-icon>
      </div>

      <div class="data">
        <p class="resa-list-item-line">
          <span>Matière à prendre dans le stock</span>
          <span class="fw-bold">{{ getPaoResaDisplaySize(resa) }}</span>
        </p>
        <p class="resa-list-item-line">
          <span class="fw-bold">{{ resa.displayName }}</span>
          <span>IMPRESSION {{ getDisplayFileInfo(resa) }}</span>
        </p>
        <p
          *ngIf="resa.paoComment"
          class="resa-list-item-line text-italic color-gray-8"
        >
          {{ resa.paoComment }}
        </p>
      </div>
    </li>
  </ul>
</div>
