.container {
  width: 210mm;
  height: 297mm;
  padding: 5mm 8mm;
  color: var(--color-gray-2);
  background-color: white;
  font-size: 1.4rem;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-atc-purple);
    height: 15mm;
    padding: 0 2rem;
    font-size: 2rem;
    color: white;
  }

  .resa-list {
    .resa-list-item {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      padding: 0 0.5rem;
      border-bottom: 1px solid var(--color-gray-10);

      .data {
        flex: 1;
      }

      .resa-list-item-line {
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5mm;
      }
    }
  }
}
