<header class="container">
  <ul class="product-types">
    <li
      class="product-type-item"
      *ngFor="let type of types; let typeIndex = index"
      (click)="onTypeChange(typeIndex)"
      [class.active]="type.active"
    >
      {{ type.label }}
    </li>

    <li class="product-type-group">
      GROUPE
      <app-dropdown
        [items]="groups$"
        (select)="onGroupChange($event)"
        class="group-dropdown"
      ></app-dropdown>
    </li>
  </ul>

  <ul class="right">
    <li class="search">
      <input
        type="text"
        [(ngModel)]="searchValue"
        (input)="onSearchMaterial()"
        #search
        placeholder="Rechercher un produit..."
      />
      <app-icon *ngIf="searchValue" (click)="onClearSearch()"> close </app-icon>

      <app-icon *ngIf="!searchValue" (click)="search.focus()">
        search
      </app-icon>
    </li>
  </ul>
</header>
