.container {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  .product-types {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    .product-type-item {
      padding: 0.3rem 0.8rem;
      border: 1px solid var(--color-background);
      border-radius: 0.5rem;

      &:hover {
        cursor: pointer;
      }

      &.active {
        border-color: var(--color-primary);
      }
    }

    .product-type-group {
      margin-left: 3rem;
      display: flex;
      align-items: center;

      .group-dropdown {
        margin-left: 1rem;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;

    .search {
      width: 30rem;
      padding: 0.8rem;
      background-color: var(--color-background);
      border: 1px solid var(--color-background);
      border-radius: 0.5rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;

      &:focus-within {
        border-color: var(--color-gray-base);

        app-icon {
          color: var(--color-gray-base);
        }
      }

      input {
        width: 26rem;
        background-color: var(--color-background);
        font-size: 1.5rem;
        padding: 0.5rem;
        color: var(--color-primary);
      }

      app-icon {
        font-size: 2.8rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
