<div class="pao-resa-item" *ngIf="resa && product" [class.disabled]="!active">
  <div>
    <mat-slide-toggle [(ngModel)]="active" class="ml-1 mt-1 mb-3">
    </mat-slide-toggle>
  </div>

  <div class="data">
    <div class="data-line" [routerLink]="productStockLink">
      <span class="title">Matière de base</span>
      <span class="content material-name"> {{ resaDisplayName }}</span>
    </div>

    <div class="data-line">
      <span class="title">
        {{ paoResaDisplaySizeTitle }}
      </span>

      <span class="content">
        {{ paoResaDisplaySize }}
      </span>
    </div>

    <div class="data-line">
      <span class="title">Impression</span>
      <span class="content">
        {{ displayFileInfo }}
      </span>
    </div>

    <div class="data-line">
      <span class="title">Statut</span>
      <span class="chip chip-sm chip-{{ statusColor }}">
        {{ statusLabel }}
      </span>
    </div>
  </div>

  <div *ngIf="!isHandled && add && !processing">
    <span class="chip chip-success"> Re-stocker {{ add }}ex. </span>
  </div>

  <div class="processing" *ngIf="processing">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="30"
    ></mat-progress-spinner>
    <span class="ml-1">Traitement en cours...</span>
  </div>

  <div *ngIf="isHandled">
    <span class="chip chip-success" *ngIf="isHandleSuccess"
      >Traitement annulé</span
    >

    <span class="chip chip-error" *ngIf="isHandleError">{{ handleError }}</span>
  </div>
</div>
