.pao-resa-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 3rem;
  padding: 1.5rem;
  transition: background-color 0.2s ease-in-out;
  border-radius: 0.5rem;
  border-bottom: 1px solid var(--color-gray-3);

  &.disabled {
    opacity: 0.5;
  }

  &:first-child {
    border-top: 1px solid var(--color-gray-3);
  }

  &:hover:not(.disabled) {
    background-color: var(--color-gray-2);
  }

  .data {
    flex: 1;

    .data-line {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding: 0.4rem 0;

      .title {
        width: 15rem;
        color: var(--color-gray-8);
      }

      .material-name {
        color: var(--color-primary);

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .processing {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
