<header>
  <div class="left">
    <button
      mat-icon-button
      color="accent"
      aria-label="Jour précédent"
      (click)="triggerPrevDate()"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>

    <button
      mat-icon-button
      color="accent"
      aria-label="Jour précédent"
      (click)="triggerTodayDate()"
    >
      <mat-icon>refresh</mat-icon>
    </button>

    <button
      mat-icon-button
      color="accent"
      aria-label="Jour suivant"
      (click)="triggerNextDate()"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <div class="center">
    <h2 class="fw-bold text-center">
      {{ currentDate | date : 'EEEE dd MMMM y' }}
    </h2>
    <h3 class="fw-light color-gray-7 text-center">
      {{ group?.name }} | {{ machine?.name }}
    </h3>
  </div>

  <div class="right d-flex flex-row justify-content-end align-items-center">
    <div class="search">
      <input
        type="text"
        [(ngModel)]="searchValue"
        (input)="triggerSearchJob()"
        #search
        placeholder="Rechercher un job..."
      />
      <app-icon *ngIf="searchValue" (click)="triggerClearSearch()">
        close
      </app-icon>

      <app-icon *ngIf="!searchValue" (click)="search.focus()">
        search
      </app-icon>
    </div>

    <button
      mat-icon-button
      color="accent"
      aria-label="Settings"
      (click)="triggerOpenSettings()"
    >
      <mat-icon>tune</mat-icon>
    </button>
  </div>
</header>
