header {
  position: sticky;
  top: 0;
  height: 9rem;
  z-index: 200;
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    flex: 1;
  }

  .right {
    flex: 1;

    .search {
      width: 30rem;
      padding: 0.8rem;
      background-color: var(--color-background);
      border: 1px solid var(--color-background);
      border-radius: 0.5rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;

      &:focus-within {
        border-color: var(--color-gray-base);

        app-icon {
          color: var(--color-gray-base);
        }
      }

      input {
        width: 26rem;
        background-color: var(--color-background);
        font-size: 1.5rem;
        padding: 0.5rem;
        color: var(--color-primary);
      }

      app-icon {
        font-size: 2.8rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  mat-label {
    font-size: 1.5rem;
  }
}
