.data-table {
  height: calc(var(--content-height) - 16rem);
  overflow-y: auto;

  cdk-header-row {
    border-top: 10px solid var(--color-background);
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .job-header {
    width: 9rem;
  }

  .job-number {
    width: 9rem;
    color: var(--color-primary);
  }

  .customer {
    flex: 1;
  }

  .status {
    width: 16rem;

    &:hover {
      cursor: pointer;
    }
  }

  .row-sm {
    justify-content: center;
    width: 10rem;
  }

  .sub-job-count {
    justify-content: center;
    width: 10rem;
  }

  cdk-row {
    padding: 1rem 0;

    &:hover {
      cursor: pointer;
    }
  }

  .sending-date {
    width: 14rem;
  }
}

.data-end-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .data-end {
    width: 100%;
    height: 3.4rem;
    max-width: 30rem;
    margin-top: 4rem;
    border-radius: 2rem;
    background-color: var(--color-gray-dark);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    app-icon {
      margin-right: 0.2rem;
    }
  }
}
