<cdk-table
  *ngIf="dataSource"
  [dataSource]="dataSource"
  matSort
  matSortActive="sendingDate"
  matSortDirection="desc"
  class="data-table"
>
  <!-- JOB -->
  <ng-container matColumnDef="jobNumber">
    <mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      class="job-header center"
    >
      JOB
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="job-number center">
      {{ row.jobNumber }}
    </mat-cell>
  </ng-container>

  <!-- CUSTOMER -->
  <ng-container matColumnDef="customer">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="customer">
      CLIENT
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="customer">
      {{ row.customer }}
    </mat-cell>
  </ng-container>

  <!-- STATUS -->
  <ng-container matColumnDef="jobStatus">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="status">
      STATUT
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="status">
      <span
        class="chip chip-sm"
        [companyAppColor]="getJobStatusColors(row.jobStatus)"
      >
        {{ getJobStatusLabel(row.jobStatus) }}
      </span>
    </mat-cell>
  </ng-container>

  <!-- RESERVATIONS COUNT -->
  <ng-container matColumnDef="reservationCount">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="row-sm">
      RESA
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="row-sm">
      {{ row.reservationCount }}
    </mat-cell>
  </ng-container>

  <!-- SENDING DATE -->
  <ng-container matColumnDef="sendingDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="sending-date">
      DATE DE DEPART
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="sending-date">
      {{ row.sendingDate | date : 'EEEE dd/MM' }}
    </mat-cell>
  </ng-container>

  <!-- GLOBAL STATUS -->
  <ng-container matColumnDef="globalStatus">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="status">
      STATUT
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="status">
      <span class="chip chip-sm {{ row.globalStatus.color }}">
        {{ row.globalStatus.status }}
      </span>
    </mat-cell>
  </ng-container>

  <cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
  <cdk-row
    *cdkRowDef="let row; columns: displayedColumns"
    (click)="onViewJob(row.jobNumber)"
  ></cdk-row>
</cdk-table>

<div class="data-end-container">
  <div class="data-end">
    <app-icon class="color-info fs-1-8">lightbulb</app-icon>
    <span>Fin des données</span>
  </div>
</div>
