.container {
  padding: 0 2rem 20rem 2rem;
  width: 100%;
  max-width: 180rem;
  margin: auto;
  height: var(--content-height);
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  .sub-container {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1rem;

    company-app-nav {
      width: 100%;
      max-width: 35rem;
    }

    main {
      flex: 1;
      padding: 0 2rem 1rem 1rem;
    }
  }

  .loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
