<div class="container">
  <ng-container *ngIf="!isLoading">
    <jobs-job-view-header
      [job]="job"
      [user]="user$ | async"
      [metaStatusMap]="metaJobsStatusMap$ | async"
      [syncError]="syncError$ | async"
      [returnRoute]="returnRoute$ | async"
      [canChangeJobStatus]="canChangeJobStatus"
      (sync)="syncJob($event)"
      (changeStatus)="openJobStatus()"
    ></jobs-job-view-header>

    <div class="sub-container">
      <company-app-nav *ngIf="nav" [nav]="nav"></company-app-nav>

      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </ng-container>

  <div class="loading" *ngIf="isLoading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
