<div class="container">
  <h1 class="fs-2-5 ml-1 mb-4">Ajouter une resa matière</h1>

  <form [formGroup]="form" (ngSubmit)="saveResa()">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Catégorie de produit</mat-label>
      <mat-select formControlName="group">
        <mat-option *ngFor="let group of groups" [value]="group.description">
          {{ group.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Produit</mat-label>
      <mat-select formControlName="name">
        <mat-option
          *ngFor="let product of products$ | async"
          [value]="product.description"
        >
          {{ product.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Formats</mat-label>
      <mat-select formControlName="paper">
        <mat-option *ngFor="let paper of papers" [value]="paper.id">
          {{ getSelectedProductDisplaySize(paper) }} - ({{ paper.stock }} en
          stock)
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent" *ngIf="!hideQuantity()">
      <mat-label>Quantité</mat-label>
      <input matInput formControlName="quantity" type="number" />
    </mat-form-field>

    <ng-container *ngIf="paperType">
      <ng-container *ngIf="paperType === 'sheet'">
        <h3 class="ml-1 mt-2">Infos fichier d'impression</h3>

        <div class="d-flex flex-row mt-2">
          <mat-form-field appearance="outline" color="accent" class="flex-fill">
            <mat-label>Faces imprimées</mat-label>
            <mat-select formControlName="isDoubleSided">
              <mat-option [value]="false">RECTO</mat-option>
              <mat-option [value]="true">RECTO/VERSO</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            color="accent"
            class="flex-fill ml-1"
          >
            <mat-label>Imposition</mat-label>
            <mat-select formControlName="isNesting">
              <mat-option [value]="true">AMALGAMME ZUND</mat-option>
              <mat-option [value]="false">AU FORMAT</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>

      <mat-slide-toggle
        [checked]="customSize"
        formControlName="customSize"
        class="ml-1 mt-1 mb-3"
      >
        <span class="ml-1">{{ getCustomSizeLabel() }}</span>
      </mat-slide-toggle>

      <ng-container *ngIf="paperType === 'sheet'">
        <div class="d-flex flex-row" *ngIf="customSize">
          <mat-form-field
            appearance="outline"
            color="accent"
            class="flex-fill mr-1"
          >
            <mat-label>Largeur</mat-label>
            <input
              matInput
              formControlName="width"
              type="number"
              [max]="maxWidth"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" color="accent" class="flex-fill">
            <mat-label>Hauteur</mat-label>
            <input
              matInput
              formControlName="height"
              type="number"
              [max]="maxHeight"
            />
          </mat-form-field>
        </div>

        <mat-form-field
          *ngIf="!isNesting && customSize"
          appearance="outline"
          color="accent"
        >
          <mat-label>Nombre de poses par plaque</mat-label>
          <input matInput formControlName="numberBySheet" type="number" />
        </mat-form-field>
      </ng-container>

      <mat-form-field
        *ngIf="paperType === 'roll' && customSize"
        appearance="outline"
        color="accent"
        class="mb-2 flex-fill mt-2"
      >
        <mat-label>Longueur (ml)</mat-label>
        <input
          matInput
          formControlName="length"
          type="number"
          [max]="maxLength"
        />
      </mat-form-field>
    </ng-container>

    <mat-form-field appearance="outline" color="accent" class="mb-2 flex-fill">
      <mat-label>Commentaire PAO</mat-label>
      <textarea
        matInput
        formControlName="paoComment"
        rows="3"
        placeholder="A l'attention du service résa..."
      ></textarea>
    </mat-form-field>

    <div
      class="p-2 bg-color-error rounded-0-5 mb-2"
      *ngIf="error$ | async; let error"
    >
      {{ error }}
    </div>

    <div class="text-right mt-1">
      <button type="button" class="btn btn-secondary mr-1" mat-dialog-close>
        Annuler
      </button>

      <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
  </form>
</div>
