.sub-job-header {
  display: flex;

  .sub-job-ref {
    margin-left: -2rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: var(--color-gray-2);
    font-weight: 500;

    &:hover {
      cursor: pointer;
    }
  }
}
