<div class="container" *ngIf="!printWindowOpen">
  <company-app-delivery-planning-header
    [currentDate]="currentDate$ | async"
    (nextDate)="setNextDate()"
    (resetDate)="resetDate()"
    (previousDate)="setPreviousDate()"
    (filter)="applyFilter($event)"
    (print)="openPrintPlanning()"
  ></company-app-delivery-planning-header>

  <company-app-delivery-planning
    *ngIf="dataSource.data.length"
    [dataSource]="dataSource"
    [metaStatusMap]="metaJobsStatusMap$ | async"
    [canChangeJobStatus]="canChangeJobStatus"
    (setJobComment)="openJobComment($event)"
    (viewJobResume)="openJobResume($event)"
    (viewJobFinishResume)="openJobFinishResume($event)"
    (changeJobStatus)="openJobStatus($event)"
    (viewJob)="viewJob($event)"
  ></company-app-delivery-planning>

  <company-app-delivery-planning-message
    [isLoading]="isLoading$ | async"
    [loadingError]="loadingError$ | async"
    *ngIf="!dataSource.data.length"
  ></company-app-delivery-planning-message>
</div>
