.container {
  height: var(--content-height);
  overflow: auto;
  padding: 0 2rem 20rem 2rem;
  max-width: 195rem;
  min-width: 176rem;
  margin: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
