<ng-container *ngIf="roles$ | async; let roles">
  <div class="container" *ngFor="let userType of userTypes">
    <h1
      class="header bg-color-background fw-light fs-2 py-2 d-flex align-items-center"
    >
      <app-icon class="fs-4 mr-0-5">admin_panel_settings</app-icon>
      Liste des rôles
      <span class="color-primary ml-0-5 flex-fill">
        {{ userType === 'employee' ? 'collaborateurs' : 'clients' }}
      </span>

      <button class="btn btn-icon btn-dark" (click)="addRole(userType)">
        <app-icon>add</app-icon> Ajouter
      </button>
    </h1>

    <ul class="list mb-2">
      <li
        *ngFor="let role of roles[userType]"
        class="list-item d-flex justify-content-between align-items-center"
      >
        <div class="my-0-5">
          <p class="fw-light">
            {{ role.label }}
            (<span class="text-italic"> {{ role.level }} </span>)
          </p>
          <p class="fw-light color-gray-8" *ngIf="role.description">
            {{ role.description }}
          </p>
        </div>

        <div>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu" xPosition="before">
            <ul class="menu">
              <li
                class="menu-item"
                routerLink="authorizations"
                (click)="editAuthorizations(role)"
              >
                <app-icon>settings</app-icon>Editer les autorisations
              </li>

              <hr />

              <li class="menu-item" (click)="editRole(role)">
                <app-icon>edit_note</app-icon>Modifier
              </li>

              <li class="menu-item" (click)="deleteRole(role)">
                <app-icon>delete</app-icon>Supprimer
              </li>
            </ul>
          </mat-menu>
        </div>
      </li>
    </ul>
  </div>
</ng-container>
