<div class="container">
  <h2>{{ title }} une configuration d'article</h2>

  <form [formGroup]="form" (ngSubmit)="saveArticleMeta()" class="mt-2">
    <h3>Article</h3>
    <mat-form-field appearance="outline" color="accent" class="mt-1">
      <mat-label>Groupe</mat-label>
      <mat-select formControlName="groupType">
        <mat-option
          *ngFor="let productGroupType of productList"
          [value]="productGroupType.groupType"
        >
          {{ getGroupTypeLabel(productGroupType.groupType) }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Groupe</mat-label>
      <mat-select formControlName="productGroup">
        <mat-option
          *ngFor="let group of productGroups"
          [value]="group.description"
        >
          {{ group.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Groupe</mat-label>
      <mat-select formControlName="product">
        <mat-option
          *ngFor="let item of productListItems"
          [value]="item.articleIds[0]"
        >
          {{ item.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h3>Données de stockage</h3>

    <div class="d-flex align-items-center mt-2">
      <mat-form-field appearance="outline" color="accent" class="flex-fill">
        <mat-label>Quantité par emballage</mat-label>
        <input type="number" matInput formControlName="packQuantity" />
      </mat-form-field>

      <span class="chip chip-info mb-2 ml-1" *ngIf="article">{{
        article.unit
      }}</span>
    </div>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Intitulé de l'emballage</mat-label>
      <input type="text" matInput formControlName="packUnitLabel" />
    </mat-form-field>

    <p class="error-message" *ngIf="error$ | async; let error">
      {{ error }}
    </p>

    <div class="text-right mt-2">
      <button type="button" class="btn btn-secondary" matDialogClose>
        Annuler
      </button>

      <button class="btn btn-primary ml-1">Enregistrer</button>
    </div>
  </form>
</div>
