.container {
  padding: 3rem;
  background: var(--color-gray-2);

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    mat-label {
      font-size: 1.5rem;
    }

    mat-error {
      font-size: 1.2rem;
    }

    input {
      font-size: 1.5rem;
    }

    mat-option {
      padding: 0;
    }

    .error-message {
      padding: 2rem;
      border-radius: 0.5rem;
      background-color: var(--color-error);
    }
  }
}
