.container {
  padding: 4rem 3rem;

  .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 16rem;
    margin: 5rem 0;
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .message {
    padding: 2rem;
    border-radius: 1rem;

    &.error {
      background-color: var(--color-error);
    }

    &.success {
      color: var(--color-gray-1);
      background-color: var(--color-success);
    }
  }

  .actions {
    text-align: center;
  }
}
