<div class="container">
  <h2 class="text-center">Annulation du dernier déstockage</h2>

  <div class="data">
    <div class="info" *ngIf="mutation && !success && !isLoading && !error">
      <p>{{ product.completeName }}</p>
      <p>Déstockage de {{ mutation.subtract }} {{ product.displayUnit }}</p>
      <p *ngIf="mutation.job_number">{{ mutation.job_number }}</p>
    </div>

    <p class="message error" *ngIf="error">{{ error }}</p>

    <p class="message success" *ngIf="success">L'annulation a été faite</p>

    <div class="loading" *ngIf="isLoading">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>

  <div class="actions" *ngIf="!isLoading">
    <button class="btn btn-secondary" *ngIf="!success" mat-dialog-close>
      Annuler
    </button>

    <button class="btn btn-secondary" [mat-dialog-close]="true" *ngIf="success">
      Fermer
    </button>

    <button
      class="btn btn-primary ml-1"
      *ngIf="!success"
      (click)="onValidateCancel()"
    >
      {{ error ? 'Re-essayer' : "Valider l'annulation" }}
    </button>
  </div>
</div>
