<div class="container">
  <h1 class="header color-info mr-1">
    <app-icon class="fs-4">update</app-icon>
    Modifier le stock
  </h1>
  <h3 class="mt-1 text-center">
    {{ product.completeName }}
  </h3>

  <ng-container *ngIf="!success">
    <div class="stock-info">
      Stock actuel
      <span class="chip chip-info ml-0-5 fw-500 color-gray-1">
        {{ productStock }} {{ displayUnit }}
      </span>
    </div>

    <div class="text-center" *ngIf="canHandleStock">
      Nouveau stock
      <input class="mx-1" type="number" [(ngModel)]="quantity" min="0" />
      {{ displayUnit }}
    </div>

    <p class="message error mt-4" *ngIf="!canHandleStock">
      Vous n'êtes pas autorisé(e) à manipuler le stock
    </p>

    <p class="message error mt-4" *ngIf="error">
      {{ error }}
    </p>

    <p class="message info mt-4" *ngIf="info">
      {{ info }}
    </p>

    <div class="text-center mt-4">
      <button class="btn btn-secondary" mat-dialog-close>Annuler</button>

      <button
        class="btn btn-info ml-1"
        (click)="handleStock()"
        *ngIf="canHandleStock"
      >
        Mettre à jour le stock
      </button>
    </div>
  </ng-container>

  <div class="mt-4" *ngIf="success">
    <p class="message success">
      La mise à jour du stock a été effectuée avec succès
    </p>

    <div class="text-center mt-4">
      <button type="button" class="btn btn-secondary" [mat-dialog-close]="true">
        Fermer
      </button>
    </div>
  </div>
</div>
