.container {
  padding: 4rem;
  background-color: var(--color-gray-2);

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .stock-info {
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    background: none;
    border: 1px solid var(--color-info);
    font-size: 1.4rem;
    width: 10rem;

    &:focus {
      outline: 4px solid rgba(120, 198, 241, 0.34);
    }

    &:invalid {
      border: 1px solid var(--color-error);

      &:focus {
        outline: 4px solid rgba(255, 50, 50, 0.32);
      }
    }
  }

  .message {
    padding: 2rem;
    color: white;
    background-color: var(--color-error);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    text-align: center;

    &.error {
      color: white;
      background-color: var(--color-error);
    }

    &.info {
      font-weight: 300;
      color: var(--color-gray-1);
      background-color: var(--color-info);
    }

    &.success {
      color: var(--color-gray-2);
      background-color: var(--color-success);
    }
  }
}
