<ng-container *ngIf="role">
  <div class="header bg-color-background">
    <h1 class="title fw-light fs-2 mb-2 d-flex align-items-center">
      <app-icon class="fs-5 mr-0-5">admin_panel_settings</app-icon>
      Autorisations pour le role
      <span class="color-primary ml-0-5"> {{ role.label }}</span>
    </h1>

    <p
      class="p-2 bg-color-error rounded-0-3 my-2"
      *ngIf="authorizationError$ | async; let error"
    >
      {{ error }}
    </p>
  </div>

  <section
    *ngFor="let moduleAuthorizations of declaredAuthorizations"
    class="p-0-5 rounded-0-3"
  >
    <h2 class="fs-2-5 fw-bold p-1 color-gray-light">
      {{ moduleAuthorizations.label }}
    </h2>

    <!-- ------ Base module authorizations ------ -->

    <ul *ngIf="moduleAuthorizations.authorizations">
      <li
        *ngFor="let baseAuth of moduleAuthorizations.authorizations"
        (click)="toggleAuthorization(baseAuth)"
        class="auth-item"
      >
        <span>{{ baseAuth.label }}</span>
        <app-icon *ngIf="isSelected(baseAuth)">done</app-icon>
      </li>
    </ul>

    <!-- ------ Subjects authorizations ------ -->

    <ng-container *ngIf="moduleAuthorizations.subjectsAuthorizations">
      <div
        *ngFor="
          let subjectAuthorizations of moduleAuthorizations.subjectsAuthorizations
        "
        class="mt-1"
      >
        <h3 class="auth-subject-title">
          {{ subjectAuthorizations.label }}
        </h3>

        <ul class="mt-1">
          <li
            *ngFor="let auth of subjectAuthorizations.authorizations"
            (click)="toggleAuthorization(auth)"
            class="auth-item"
          >
            <span>{{ auth.label }}</span>
            <app-icon *ngIf="isSelected(auth)">done</app-icon>
          </li>
        </ul>
      </div>
    </ng-container>
  </section>
</ng-container>
