.header {
  position: sticky;
  top: calc(var(--header-height) + 2rem);
}

.auth-subject-title {
  padding: 0 1rem;
  color: var(--color-gray-light);
  font-size: 1.8rem;
  font-weight: 500;
}

.auth-item {
  padding: 0 1rem;
  height: 3rem;
  border-radius: 0.3rem;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-gray-light);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--color-gray-3);
    cursor: pointer;
  }
}
