<div class="container">
  <h1 class="header color-error mr-1">
    <app-icon class="fs-4">arrow_downward</app-icon>
    Déstocker
  </h1>
  <h3 class="mt-1 text-center">
    {{ product.completeName }}
  </h3>

  <p *ngIf="articleMeta && !success" class="mt-3 text-center">
    <span class="chip chip-info mr-0-5">
      {{ productFreeStock }} {{ displayUnit }}
    </span>
    en stock
  </p>

  <p
    *ngIf="isPaperRollProduct"
    class="rounded-0-5 p-2 bg-color-info color-gray-1 fs-1-6 mt-3"
  >
    <span class="fw-bold">Attention</span>, les matières de type rouleau sont
    déstockées au <span class="fw-bold">mètre linéaire</span>. Donc pour
    déstocker une bobine de {{ rollLength }} il faut déstocker {{ rollLength }}.
  </p>

  <form
    (ngSubmit)="handleStock()"
    [formGroup]="form"
    *ngIf="canDisplayForm"
    class="d-flex flex-column"
  >
    <div class="mt-5 d-flex align-items-center">
      <mat-form-field appearance="outline" class="flex-fill">
        <mat-label class="fs-1-6">Quantité</mat-label>
        <input
          type="number"
          matInput
          min="1"
          max="{{ product.freeStock }}"
          formControlName="quantity"
        />
      </mat-form-field>

      <span class="mx-1 mb-2">{{ displayUnit }}</span>

      <mat-form-field appearance="outline" class="ml-1 flex-fill">
        <mat-label class="fs-1-6">N° de job</mat-label>
        <input type="number" matInput formControlName="jobNumber" />
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="flex-fill">
      <mat-label class="fs-1-6">Raison</mat-label>
      <input type="text" matInput formControlName="comment" />
    </mat-form-field>

    <p class="message error" *ngIf="error">{{ error }}</p>

    <div class="actions text-center mt-4">
      <button type="button" class="btn btn-secondary" mat-dialog-close>
        Annuler
      </button>

      <button type="submit" class="btn btn-danger ml-1" *ngIf="canDisplayForm">
        Déstocker
        <span *ngIf="form.get('quantity')?.value">
          {{ form.get('quantity')?.value }} {{ displayUnit }}
        </span>
      </button>
    </div>
  </form>

  <div class="mt-4" *ngIf="displayRemoveMessage || !canDecreaseStock">
    <p class="message error" *ngIf="displayRemoveMessage">
      Le stock disponible actuel est à zéro<br />
      impossible de déstocker cette matière
    </p>

    <p class="message error" *ngIf="!canDecreaseStock">
      Vous n'êtes pas autorisé(e) à modifier le stock.
    </p>

    <div class="text-center mt-4">
      <button type="button" class="btn btn-secondary" mat-dialog-close>
        Fermer
      </button>
    </div>
  </div>

  <div class="mt-4" *ngIf="success">
    <p class="message success">
      Le déstockage de {{ form.get('quantity')?.value }} {{ displayUnit }} a été
      effectué avec succès.
    </p>

    <div class="text-center mt-4">
      <button type="button" class="btn btn-secondary" [mat-dialog-close]="true">
        Fermer
      </button>
    </div>
  </div>
</div>
