.container {
  padding: 4rem;
  background-color: var(--color-gray-2);

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .message {
    padding: 2rem;
    color: white;
    background-color: var(--color-error);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    text-align: center;

    &.error {
      color: white;
      background-color: var(--color-error);
    }

    &.success {
      color: var(--color-gray-2);
      background-color: var(--color-success);
    }
  }

  form {
    textarea {
      resize: none;
    }
  }
}
