<div
  class="container"
  (click)="closeDialog()"
  *ngIf="planningItems$ | async; let planningItems"
>
  <header *ngIf="planningDate$ | async; let planningDate">
    <h1>
      Planning d'expédition du
      <span class="planning-date">{{
        planningDate | date : 'EEEE dd MMMM y'
      }}</span>
    </h1>
    <span class="printing-date">
      (imprimé le {{ today | date : 'EEEE dd MMMM y' }})
    </span>
    <span class="jobsCount">{{ planningItems.length }} JOBS</span>
  </header>
  <table>
    <thead>
      <tr>
        <th>OK</th>
        <th>JOB</th>
        <th>C. PROJET</th>
        <th>CLIENT</th>
        <th>STATUT</th>
        <th>FABRICATION</th>
        <th>M2</th>
        <th>EX</th>
        <th>SJ</th>
        <th>PLK</th>
        <th>SUM</th>
        <th>ZND</th>
        <th>KIT</th>
        <th>D+</th>
        <th>FINITIONS</th>
        <th>CP</th>
        <th>MODES</th>
        <th>COMMENTAIRE</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of planningItems; let odd = odd"
        [class.odd]="odd"
        #lines
      >
        <td class="ok"></td>
        <td class="number">{{ item.number }}</td>
        <td class="jobManager">{{ item.jobManager }}</td>
        <td class="customer">{{ item.company }}</td>
        <td class="status">{{ item.status }}</td>
        <td class="prod-types">{{ item.productionTypesAsString }}</td>
        <td class="printingSurface">
          {{ item.printingSurface | number : '1.0-1' }}
        </td>
        <td class="manufacturedPiecesCount">
          {{ item.manufacturedPiecesCount }}
        </td>
        <td class="subJobsCount">{{ item.subJobsCount }}</td>
        <td class="dot-cell">
          <span
            class="dot dot-sm dot-gray-dark"
            *ngIf="item.hasSheetProduction"
          ></span>
        </td>
        <td class="dot-cell">
          <span
            class="dot dot-sm dot-gray-dark"
            *ngIf="item.hasNumericScoreCutting"
          ></span>
        </td>
        <td class="dot-cell">
          <span
            class="dot dot-sm dot-gray-dark"
            *ngIf="item.hasZundCutting"
          ></span>
        </td>
        <td class="dot-cell">
          <span class="dot dot-sm dot-gray-dark" *ngIf="item.hasKits"></span>
        </td>
        <td class="dot-cell">
          <span
            class="dot dot-sm dot-gray-dark"
            *ngIf="item.multiSendingDate"
          ></span>
        </td>
        <td class="finishs">
          <span *ngFor="let finish of item.deliveryServiceFinishs">
            {{ finish }}
          </span>
        </td>
        <td>{{ item.addressZipCodes }}</td>
        <td>{{ item.deliveryMethods }}</td>
        <td class="comment">{{ item.comment }}</td>
      </tr>
    </tbody>
  </table>
</div>
