<div class="container" *ngIf="job$ | async; let job">
  <div class="info pt-3" *ngIf="job.mp.infoExpedition">
    <h2 class="info-heading">
      <app-icon class="fs-3 color-primary">lightbulb</app-icon>
      Info Expéditions
    </h2>

    <p class="info-content mt-1">
      {{ job.mp.infoExpedition }}
    </p>
  </div>

  <div class="message" *ngIf="!job.mp.infoExpedition">
    <span class="p-2 d-flex justify-content-start align-items-center fs-1-6">
      <app-icon class="fs-4 color-info">lightbulb</app-icon>
      Aucun commentaire saisi pour ce job.
    </span>
  </div>
</div>
