<div class="container p-3 bg-color-gray-3">
  <ng-container *ngIf="!success">
    <h2 class="mb-4 mt-1 fw-light text-center">
      <ng-container *ngIf="user">
        Modifier l'utilisateur
        <span class="color-primary">
          {{ user.firstName | titlecase }}
          {{ user.lastName | titlecase }}
        </span>
      </ng-container>

      <ng-container *ngIf="!user">
        Créer un nouvel utilisateur ATC
      </ng-container>
    </h2>

    <form [formGroup]="form" (ngSubmit)="saveUser()">
      <mat-form-field appearance="outline" color="accent" class="mb-2">
        <mat-label>Utilisateur Multipress</mat-label>
        <mat-select formControlName="mpId">
          <mat-option
            *ngFor="let employee of employees$ | async"
            [value]="employee.id"
          >
            {{ employee.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent" class="mb-2">
        <mat-label>Utilisateur Active Directory</mat-label>
        <mat-select formControlName="identifier">
          <mat-option
            *ngFor="let adUser of adUsers$ | async"
            [value]="adUser.sAMAccountName"
          >
            {{ adUser.givenName | titlecase }} {{ adUser.sn | titlecase }} ({{
              adUser.sAMAccountName
            }})
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent" class="mb-2">
        <mat-label>Role</mat-label>
        <mat-select formControlName="roleId">
          <mat-option
            *ngFor="let role of employeeRoles$ | async"
            [value]="role._id"
          >
            {{ role.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div
        class="p-2 bg-color-error rounded-0-5 mb-2"
        *ngIf="error$ | async; let error"
      >
        {{ error }}
      </div>

      <div class="mt-3 text-center">
        <button class="btn btn-secondary mr-1" mat-dialog-close>Annuler</button>

        <button class="btn btn-primary">Enregistrer</button>
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="success">
    <h2
      class="mt-1 fw-light text-center fs-2 d-flex justify-content-center align-items-center"
    >
      <app-icon class="fs-5">verified_user</app-icon>
      Utilisateur enregistré
    </h2>

    <div class="mt-3 text-center">
      <button class="btn btn-primary mr-1" mat-dialog-close>Fermer</button>
    </div>
  </ng-container>
</div>
