.container {
  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    mat-label {
      font-size: 1.5rem;
    }

    mat-error {
      font-size: 1.2rem;
    }

    input {
      font-size: 1.5rem;
    }

    mat-option {
      padding: 0;
    }
  }

  .password {
    position: relative;
    padding: 2rem;
    border-radius: 0.3rem;
    background-color: var(--color-gray-dark);
    text-align: center;
    font-size: 2rem;

    &:hover {
      cursor: pointer;
    }

    .icon {
      position: absolute;
      right: 2rem;
      top: 2rem;
    }
  }
}
