<div class="container p-3 bg-color-gray-3">
  <h2 class="mb-4 mt-1 fw-light">
    {{ getFormTitle() }}
  </h2>

  <form [formGroup]="form" (ngSubmit)="saveStatus()">
    <mat-form-field appearance="outline" color="accent" class="mb-2">
      <mat-label>Nom d'affichage</mat-label>
      <input matInput formControlName="label" type="text" />
      <mat-error *ngIf="form.get('label')?.errors">
        Ce champ est requis
      </mat-error>
    </mat-form-field>

    <div class="color mb-4">
      <app-color-picker
        formControlName="color"
        class="mr-0-5"
      ></app-color-picker>
      <span class="color-gray-10">Couleur</span>
    </div>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Couleur du texte</mat-label>
      <mat-select formControlName="textColor" panelClass="test">
        <mat-option
          *ngFor="let textColor of textColors"
          [value]="textColor.value"
        >
          {{ textColor.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div
      class="p-2 bg-color-error rounded-0-5 mb-2"
      *ngIf="error$ | async; let error"
    >
      {{ error }}
    </div>

    <div class="mt-3 text-right">
      <button class="btn btn-secondary mr-1" mat-dialog-close>Annuler</button>

      <button class="btn btn-primary">Enregistrer</button>
    </div>
  </form>
</div>
