.container {
  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    mat-label {
      font-size: 1.5rem;
    }

    input {
      font-size: 1.5rem;
    }

    mat-option {
      padding: 0;
    }
  }
}
