<div class="container p-4 bg-color-gray-3">
  <h2 class="mb-4 mt-1 fw-light">Paramètres</h2>

  <form [formGroup]="form" (ngSubmit)="saveSettings()">
    <mat-form-field appearance="outline" class="mb-1">
      <mat-label>Groupe</mat-label>
      <mat-select formControlName="group">
        <mat-option [value]="group.name" *ngFor="let group of setup$ | async">
          {{ group.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Machine</mat-label>
      <mat-select formControlName="machine">
        <mat-option [value]="machine.id" *ngFor="let machine of machines">
          {{ machine.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="default">
      Enregistrer comme valeur par défaut
    </mat-checkbox>

    <div
      class="p-2 bg-color-error rounded-0-5 mt-2"
      *ngIf="settingError$ | async; let error"
    >
      {{ error }}
    </div>

    <div class="mt-3 text-right">
      <button type="button" class="btn btn-secondary" mat-dialog-close>
        Fermer
      </button>

      <button type="submit" class="btn btn-primary ml-1">Enregistrer</button>
    </div>
  </form>
</div>
