.container {
  .message {
    margin: 2rem 0;
    padding: 2rem;
    color: var(--color-gray-1);
    background-color: var(--color-info);
    border-radius: 0.5rem;
  }

  .error {
    margin: 2rem 0;
    padding: 2rem;
    background-color: var(--color-error);
    border-radius: 0.5rem;
    font-size: 1.6rem;
  }

  .success-message {
    margin: 2rem 0;
    padding: 2rem;
    color: var(--color-gray-1);
    background-color: var(--color-success);
    border-radius: 0.5rem;
    font-size: 1.6rem;
  }

  .warning-message {
    margin: 2rem 0;
    padding: 2rem;
    color: var(--color-gray-1);
    background-color: var(--color-warning);
    border-radius: 0.5rem;
    font-size: 1.6rem;
  }
}
