<div class="container">
  <h2 class="p-2 d-flex justify-content-center align-items-center">
    <app-icon class="mr-0-2">pan_tool</app-icon>
    Annuler le traitement de la réservation matière
  </h2>

  <div class="message">
    <p class="fs-1-6">
      En annulant le traitement, le statut des éléments traités repassera en
      "attente de traitement" et les matières seront re-stockées
    </p>
  </div>

  <ul class="pao-resa" *ngIf="ready">
    <li *ngFor="let resa of paoReservations; let index = index">
      <job-view-resa-undo-item
        [resa]="resa"
        [handle]="handle"
        [product]="getProduct(resa.productId)"
        [user]="user$ | async"
        [jobNumber]="jobNumber"
        (finish)="onFinish(index, $event)"
      ></job-view-resa-undo-item>
    </li>
  </ul>

  <div class="text-center mt-2" *ngIf="success === null">
    <button class="btn btn-outline btn-outline-secondary" [routerLink]="['..']">
      Retour
    </button>

    <button
      class="btn btn-danger ml-1"
      (click)="handleReservation()"
      *ngIf="paoReservations?.length"
    >
      Annuler le traitement
    </button>
  </div>

  <div class="success" *ngIf="success === true">
    <p class="success-message">
      Le traitement de la réservation matière a été réalisé avec succès.
    </p>

    <div class="text-center">
      <button class="btn btn-primary" (click)="onReturn()">Retour</button>
    </div>
  </div>

  <div class="retry" *ngIf="success === false">
    <p class="warning-message">
      Un problème est survenu lors du traitement, certains éléments de la
      réservation n'ont pas été traitées.
    </p>

    <div class="text-center">
      <button class="btn btn-secondary" (click)="onReturn()">Retour</button>

      <button class="btn btn-primary ml-1" (click)="handleReservation()">
        Relancer le traitement
      </button>
    </div>
  </div>
</div>
