<div class="container">
  <stock-reservations-list
    *ngIf="displayList"
    [jobs]="jobs"
    [dataSource]="dataSource"
    [metaStatusMap]="metaJobsStatusMap$ | async"
    (viewJob)="onViewJob($event)"
  ></stock-reservations-list>

  <stock-reservations-message
    *ngIf="displayMessage"
    [isEmpty]="isEmpty"
    [isLoading]="isLoading"
  ></stock-reservations-message>
</div>
