<div class="container" *ngIf="users">
  <div class="header py-2 bg-color-background">
    <h1 class="fw-light fs-2 d-flex align-items-center">
      <app-icon class="fs-4 mr-0-5">admin_panel_settings</app-icon>
      Liste des
      <span class="color-primary ml-0-5 flex-fill">{{ title }}</span>

      <button class="btn btn-icon btn-dark" (click)="emitAddUser()">
        <app-icon>add</app-icon> Ajouter
      </button>
    </h1>
  </div>

  <ul class="list">
    <li
      *ngFor="let user of users"
      class="list-item d-flex justify-content-between align-items-center"
    >
      <div class="my-0-5 ml-0-5 flex-fill">
        <p class="fw-light">
          {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
        </p>
        <p class="fw-light color-primary">
          {{ user.email }}
        </p>
        <p class="fw-light color-gray-8">
          {{ getUserSubtitle(user) }}
        </p>
      </div>

      <span class="chip chip-sm mr-1" *ngIf="user.isActive">
        {{ user.role.label }}
      </span>
      <span class="chip chip-sm chip-error mr-1" *ngIf="!user.isActive">
        Utilisateur désactivé
      </span>

      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu" xPosition="before">
          <ul class="menu">
            <ng-container *ngIf="usersType === UserType.Employee">
              <li class="menu-item" (click)="emitUpdateUser(user)">
                <app-icon>edit_note</app-icon>Modifier
              </li>
            </ng-container>

            <ng-container *ngIf="usersType === UserType.Customer">
              <li class="menu-item" (click)="emitResetPassword(user)">
                <app-icon>encrypted</app-icon>Réinitialiser le mot de passe
              </li>

              <li class="menu-item" (click)="emitUpdateUserRole(user)">
                <app-icon>shield_person</app-icon>Modifier le rôle
              </li>
            </ng-container>

            <li class="menu-item" (click)="emitToggleIsActive(user)">
              <app-icon>
                {{ user.isActive ? 'toggle_off' : 'toggle_on' }}
              </app-icon>
              {{ user.isActive ? 'Désactiver' : 'Activer' }}
            </li>

            <hr />

            <li class="menu-item" (click)="emitDeleteUser(user)">
              <app-icon>delete</app-icon>Supprimer
            </li>
          </ul>
        </mat-menu>
      </div>
    </li>
  </ul>
</div>
