<div class="sub-job" *ngIf="subJob">
  <sub-job-header [subJob]="subJob" [atcProdRef]="atcProdRef"></sub-job-header>

  <div class="sub-job-data">
    <sub-job-checklist
      [subJob]="subJob"
      [atcProdRef]="atcProdRef"
    ></sub-job-checklist>
    <sub-job-prod
      [subJob]="subJob"
      (openMaterialInfo)="onOpenMaterialInfo($event)"
    ></sub-job-prod>
  </div>

  <sub-job-comment [comment]="subJob.paoInfo"></sub-job-comment>
</div>
