.sub-job {
  margin-top: -1px;
  padding: 3rem 2rem;
  color: var(--color-gray-13);
  border-top: 1px solid var(--color-gray-6);
  border-bottom: 1px solid var(--color-gray-6);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--color-gray-2);
  }

  .sub-job-data {
    display: flex;
    column-gap: 2rem;
    margin-top: 2rem;

    sub-job-checklist {
      flex: 1;
    }

    sub-job-prod {
      flex: 1;
    }
  }
}
