.container {
  .data-table {
    cdk-header-row {
      position: sticky;
      top: 89px;
      z-index: 100;
    }

    .job-header {
      width: 9rem;
    }

    .job {
      width: 9rem;
      color: var(--color-primary);

      &:hover {
        cursor: pointer;
      }
    }

    .company {
      width: 25rem;
    }

    .status {
      width: 15rem;
      padding: 0.5rem;

      &:hover {
        cursor: pointer;
      }
    }

    .printing-surface {
      width: 5rem;
    }

    .row-sm {
      width: 6rem;
    }

    .production-types {
      width: 30rem;

      .chip-container {
        display: flex;
        flex-flow: row wrap;
        gap: 0.5rem;
        padding: 1rem 0;
      }
    }

    .address-zip-codes {
      width: 10rem;
    }

    .delivery-methods {
      width: 12rem;
    }

    cdk-row {
      &:hover {
        .comment {
          .comment-container {
            background-color: var(--color-gray-3);
          }
        }
      }
    }

    .sync {
      width: 3rem;
      display: flex;
      justify-content: center;
    }

    .comment {
      width: 27rem;
      padding: 0.5rem 0;

      .comment-container {
        width: 100%;
        white-space: pre-line;
        padding: 0.8rem;
        border-radius: 0.5rem;
        color: var(--color-primary);
        font-style: italic;
        background-color: var(--color-gray-dark);
        transition: background-color 0.2s ease-in-out;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.data-end-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .data-end {
    width: 100%;
    height: 3.4rem;
    max-width: 30rem;
    margin-top: 4rem;
    border-radius: 2rem;
    background-color: var(--color-gray-dark);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    app-icon {
      margin-right: 0.2rem;
    }
  }
}
