<div class="container">
  <cdk-table
    [dataSource]="dataSource"
    matSort
    matSortActive="number"
    matSortDirection="asc"
    class="data-table"
  >
    <!-- JOB -->
    <ng-container matColumnDef="number">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="job-header center"
      >
        JOB
      </mat-header-cell>
      <mat-cell
        *matCellDef="let row"
        class="job center"
        matTooltip="{{ row.company }}"
        matTooltipPosition="above"
        (click)="selectViewJob(row.number)"
      >
        {{ row.number }}
      </mat-cell>
    </ng-container>

    <!-- CLIENT -->
    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="company">
        CLIENT
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="company">
        {{ row.company }}
      </mat-cell>
    </ng-container>

    <!-- STATUT -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="status">
        STATUT
      </mat-header-cell>
      <mat-cell
        *matCellDef="let row"
        class="status"
        (click)="selectChangeJobStatus(row.number)"
      >
        <span
          class="chip chip-sm"
          [companyAppColor]="getStatusColors(row.status)"
        >
          {{ getStatusLabel(row.status) }}
        </span>
      </mat-cell>
    </ng-container>

    <!-- PRODUCTION TYPES (Fabrication) -->
    <ng-container matColumnDef="productionTypes">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        matTooltip="Types de fabrications"
        matTooltipPosition="above"
        class="production-types"
      >
        FABRICATION
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="production-types">
        <div class="chip-container">
          <span
            *ngFor="let prodType of row.productionTypes"
            class="chip chip-sm"
            >{{ prodType }}</span
          >
        </div>
      </mat-cell>
    </ng-container>

    <!-- PRINTING SURFACE (m2) -->
    <ng-container matColumnDef="printingSurface">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        matTooltip="Nombre de m2 total"
        matTooltipPosition="above"
        class="row-sm"
      >
        M2
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="row-sm">
        <ng-container *ngIf="row.printingSurface">
          {{ row.printingSurface | number : '1.0-1' }}
        </ng-container>
      </mat-cell>
    </ng-container>

    <!-- MANUFACTURED PIECES COUNT (Ex) -->
    <ng-container matColumnDef="manufacturedPiecesCount">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        matTooltip="Nombre d'exemplaires"
        matTooltipPosition="above"
        class="row-sm"
      >
        EX
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="row-sm">
        <ng-container *ngIf="row.manufacturedPiecesCount">{{
          row.manufacturedPiecesCount
        }}</ng-container>
      </mat-cell>
    </ng-container>

    <!-- SUB-JOB COUNT (sj) -->
    <ng-container matColumnDef="subJobsCount">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        matTooltip="Nombre de sous-jobs"
        matTooltipPosition="above"
        class="row-sm"
      >
        SJ
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="row-sm">
        <ng-container *ngIf="row.subJobsCount">{{
          row.subJobsCount
        }}</ng-container>
      </mat-cell>
    </ng-container>

    <!-- HAS SHEET PRODUCTION (Plk) -->
    <ng-container matColumnDef="hasSheetProduction">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        matTooltip="Comporte des plaques"
        matTooltipPosition="above"
        class="row-sm"
      >
        PLK
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="row-sm">
        <span
          class="ml-1 dot dot-warning"
          *ngIf="row.hasSheetProduction"
        ></span>
      </mat-cell>
    </ng-container>

    <!-- HAS DELIVERY FINISHS (Fnsh) -->
    <ng-container matColumnDef="hasDeliveryServiceFinishs">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        matTooltip="Comporte des finitions"
        matTooltipPosition="above"
        class="row-sm"
      >
        FNSH
      </mat-header-cell>
      <mat-cell
        *matCellDef="let row"
        (click)="
          selectJobFinishResume(row.number, row.hasDeliveryServiceFinishs)
        "
        class="row-sm"
      >
        <span
          class="ml-1 dot dot-warning"
          *ngIf="row.hasDeliveryServiceFinishs"
        ></span>
      </mat-cell>
    </ng-container>

    <!-- HAS NUMERIC SCORE CUTTING (Sum) -->
    <ng-container matColumnDef="hasNumericScoreCutting">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        matTooltip="Comporte de la Summa"
        matTooltipPosition="above"
        class="row-sm"
      >
        SUM
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="row-sm">
        <span
          class="ml-1 dot dot-warning"
          *ngIf="row.hasNumericScoreCutting"
        ></span>
      </mat-cell>
    </ng-container>

    <!-- HAS ZUND CUTTING (Znd) -->
    <ng-container matColumnDef="hasZundCutting">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        matTooltip="Comporte de la Zund"
        matTooltipPosition="above"
        class="row-sm"
      >
        ZND
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="row-sm">
        <span class="ml-1 dot dot-warning" *ngIf="row.hasZundCutting"></span>
      </mat-cell>
    </ng-container>

    <!-- HAS KITS (Kit) -->
    <ng-container matColumnDef="hasKits">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        matTooltip="Comporte des kits"
        matTooltipPosition="above"
        class="row-sm"
      >
        KIT
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="row-sm">
        <span class="ml-1 dot dot-warning" *ngIf="row.hasKits"></span>
      </mat-cell>
    </ng-container>

    <!-- HAS MULTIPLE SENDING DATES (d+) -->
    <ng-container matColumnDef="multiSendingDate">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        matTooltip="Plusieurs dates d'expédition"
        matTooltipPosition="above"
        class="row-sm"
      >
        D+
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="row-sm">
        <span class="ml-1 dot dot-warning" *ngIf="row.multiSendingDate"></span>
      </mat-cell>
    </ng-container>

    <!-- ADDRESSES ZIP CODES (CP) -->
    <ng-container matColumnDef="addressZipCodes">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        matTooltip="Codes postaux"
        matTooltipPosition="above"
        class="address-zip-codes"
      >
        CP
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="address-zip-codes">
        {{ row.addressZipCodes }}
      </mat-cell>
    </ng-container>

    <!-- DELIVERY METHODS (Modes) -->
    <ng-container matColumnDef="deliveryMethods">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        matTooltip="Modes d'expédition"
        matTooltipPosition="above"
        class="delivery-methods"
      >
        MODES
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="delivery-methods">
        {{ row.deliveryMethods }}
      </mat-cell>
    </ng-container>

    <!-- COMMENT -->
    <ng-container matColumnDef="comment">
      <mat-header-cell *matHeaderCellDef class="comment"
        >Commentaire</mat-header-cell
      >
      <mat-cell *matCellDef="let row" class="comment">
        <div
          class="comment-container"
          *ngIf="row.comment"
          (click)="selectJobComment(row.number, $event)"
        >
          {{ row.comment }}
        </div>
      </mat-cell>
    </ng-container>

    <!-- SYNC -->
    <ng-container matColumnDef="sync">
      <mat-header-cell *matHeaderCellDef class="sync"> </mat-header-cell>
      <mat-cell *matCellDef="let row" class="sync">
        <span class="dot dot-error" *ngIf="hasSyncError(row.syncStatus)"></span>
      </mat-cell>
    </ng-container>

    <!-- ACTIONS -->
    <ng-container matColumnDef="actions">
      <mat-header-cell
        *matHeaderCellDef
        class="row-sm center"
      ></mat-header-cell>
      <mat-cell *matCellDef="let row" class="row-sm center">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <ul class="menu">
            <li class="menu-item" (click)="selectJobResume(row.number, $event)">
              <app-icon>visibility</app-icon>Résumé du job
            </li>

            <li
              class="menu-item"
              (click)="selectJobComment(row.number, $event)"
            >
              <app-icon>rate_review</app-icon>Commentaire
            </li>

            <li
              class="menu-item"
              (click)="selectChangeJobStatus(row.number)"
              *ngIf="canChangeJobStatus"
            >
              <app-icon>check</app-icon>Modifier le statut
            </li>

            <li class="menu-item" (click)="selectViewJob(row.number)">
              <app-icon>open_in_new</app-icon>Ouvrir le job
            </li>

            <li class="menu-item disabled">
              <app-icon>arrow_forward</app-icon>Décaler à demain
            </li>
          </ul>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: displayedColumns"></cdk-row>
  </cdk-table>
</div>

<div class="data-end-container">
  <div class="data-end">
    <app-icon class="color-info fs-1-8">lightbulb</app-icon>
    <span>Fin des données</span>
  </div>
</div>
