.btn {
  padding: 0.8rem 1rem;
  font-size: 1.4rem;
  border-radius: 0.3rem;
  background-color: var(--color-gray-10);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: var(--color-gray-12);
  }

  &-primary {
    color: var(--color-gray-14);
    font-weight: 400;
    background-color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary-hover);
    }
  }

  &-secondary {
    background-color: var(--color-secondary);
  }

  &-dark {
    color: var(--color-gray-11);
    background-color: var(--color-gray-dark);

    &:hover {
      background-color: var(--color-gray-3);
    }
  }

  &-success {
    color: var(--color-gray-1);
    background-color: var(--color-success);

    &:hover {
      background-color: var(--color-success-hover);
    }
  }

  &-info {
    color: var(--color-gray-1);
    background-color: var(--color-info);

    &:hover {
      background-color: var(--color-info-hover);
    }
  }

  &-danger {
    color: var(--color-gray-14);
    background-color: var(--color-error);

    &:hover {
      background-color: var(--color-error-hover);
    }
  }

  &-outline {
    background: none;
    color: var(--color-gray-14);
    border: 1px solid var(--color-gray-14);

    &:hover {
      background: none;
      color: var(--color-gray-13);
      border: 1px solid var(--color-gray-13);
    }

    &-primary {
      color: var(--color-primary);
      border-color: var(--color-primary);
      font-weight: 400;

      &:hover {
        color: var(--color-primary-hover);
        border-color: var(--color-primary-hover);
      }
    }

    &-secondary {
      color: var(--color-secondary);
      border-color: var(--color-secondary);

      &:hover {
        color: var(--color-gray-12);
        border-color: var(--color-gray-12);
      }
    }

    &-dark {
      color: var(--color-gray-dark);
      border-color: var(--color-gray-dark);

      &:hover {
        color: var(--color-gray-3);
        border-color: var(--color-gray-3);
      }
    }

    &-success {
      color: var(--color-success);
      border-color: var(--color-success);

      &:hover {
        color: var(--color-success-hover);
        border-color: var(--color-success-hover);
      }
    }

    &-info {
      color: var(--color-info);
      border-color: var(--color-info);

      &:hover {
        color: var(--color-info-hover);
        border-color: var(--color-info-hover);
      }
    }

    &-danger {
      color: var(--color-error);
      border-color: var(--color-error);

      &:hover {
        color: var(--color-error-hover);
        border-color: var(--color-error-hover);
      }
    }
  }

  &-icon {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    display: flex;
    align-items: center;
  }
}
