.chip {
  padding: 0.6rem 1.3rem;
  border-radius: 1.6rem;
  background-color: var(--color-gray-6);
  color: var(--color-gray-13);
  white-space: nowrap;

  &-sm {
    padding: 0.3rem 0.9rem;
    border-radius: 1.3rem;
    font-weight: 400;
    font-size: 1.2rem;
  }

  &-primary {
    background-color: var(--color-primary);
  }

  &-success {
    color: var(--color-gray-1);
    background-color: var(--color-success);
  }

  &-info {
    color: var(--color-gray-1);
    background-color: var(--color-info);
  }

  &-error {
    background-color: var(--color-error);
  }
}
