.company-app-nav {
  position: sticky;
  top: 0;
  height: 5rem;
  background-color: var(--color-gray-2);
  display: flex;
  justify-content: center;
  align-items: center;

  .nav {
    font-size: 1.4rem;
    font-weight: 300;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;

    .nav-item {
      padding: 0.5rem 0.8rem;
      border: 1px solid var(--color-gray-2);
      border-radius: 0.5rem;
      transition: border-color 0.2s ease-in-out;

      &:hover {
        border-color: var(--color-primary);
      }

      &.active {
        border-color: var(--color-primary);
      }
    }
  }
}
