.data-list-heading {
  margin: 3rem 0 0.8rem 0.6rem;
}

.data-list {
  .data-list-item {
    padding: 0.6rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
    color: var(--color-gray-13);

    &:hover {
      background-color: var(--color-gray-dark);
      cursor: pointer;
    }

    .title {
      width: 100%;
      max-width: 20rem;
      color: var(--color-gray-base);
    }

    .content {
      flex: 1;
    }
  }

  .data-list-item-group {
    margin-top: 1rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--color-gray-dark);
      cursor: pointer;
    }

    .data {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;

      .data-list-item-group-line {
        padding: 0.3rem 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: var(--color-gray-13);

        .title {
          width: 20rem;
          color: var(--color-gray-base);
        }

        .content {
          flex: 1;
        }
      }
    }
  }
}
