.data-table {
  .mdc-data-table__header-cell {
    background: none;
  }

  .mat-sort-header {
    &:hover {
      cursor: pointer;
    }
  }

  cdk-header-row {
    height: 7rem;
    border-radius: 0.5rem;
    background-color: var(--color-gray-dark);
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
  }

  cdk-row {
    padding: 0.2rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out;
    overflow: hidden;

    &:hover {
      background-color: var(--color-gray-dark);
    }
  }

  .mat-mdc-header-cell {
    color: var(--color-gray-12);

    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &.center {
      justify-content: center;
    }

    &.right {
      justify-content: flex-end;
    }
  }

  .mat-mdc-cell {
    color: var(--color-gray-11);
    flex-shrink: 0;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;

    &.center {
      justify-content: center;
    }

    &.right {
      justify-content: flex-end;
    }
  }
}
