.dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;

  &-sm {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.3rem;
  }

  &-primary {
    background-color: var(--color-primary);
  }

  &-secondary {
    background-color: var(--color-secondary);
  }

  &-info {
    background-color: var(--color-info);
  }

  &-success {
    background-color: var(--color-success);
  }

  &-warning {
    background-color: var(--color-warning);
  }

  &-error {
    background-color: var(--color-error);
  }

  &-gray-light {
    background-color: var(--color-gray-light);
  }

  &-gray-dark {
    background-color: var(--color-gray-dark);
  }
}
