.heading {
  padding: 0.5rem 1rem;
  background-color: var(--color-gray-4);
  border-radius: 0.5rem;
  border-left: 1rem solid var(--color-gray-8);

  &-primary {
    color: var(--color-primary);
    border-left-color: var(--color-primary);
  }

  &-secondary {
    color: var(--color-secondary);
    border-left-color: var(--color-secondary);
  }

  &-success {
    color: var(--color-success);
    border-left-color: var(--color-success);
  }

  &-info {
    color: var(--color-info);
    border-left-color: var(--color-info);
  }

  &-warning {
    color: var(--color-warning);
    border-left-color: var(--color-warning);
  }

  &-error {
    color: var(--color-error);
    border-left-color: var(--color-error);
  }
}
