.list {
  .list-item {
    padding: 0.6rem 1rem;
    border-radius: 0.3rem;
    //border-bottom: 1px solid var(--color-gray-6);
    transition: background-color 0.2s ease-in-out;

    &:first-child {
      //border-top: 1px solid var(--color-gray-6);
    }

    &:hover {
      background-color: var(--color-gray-dark);
    }
  }
}
