.menu {
  min-width: 15rem;

  .menu-item {
    padding: 0.6rem 3rem 0.4rem 1rem;
    font-size: 1.3rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;

    .app-icon {
      margin-right: 0.4rem;
      font-size: 2rem;
    }

    &:hover {
      background-color: var(--color-gray-5);
      cursor: pointer;
    }

    &.disabled {
      color: var(--color-gray-9);

      &:hover {
        cursor: default;
        background: unset;
      }
    }
  }

  hr {
    margin: 0.6rem 0;
  }
}
