.panel {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;

  .panel-menu {
    width: 100%;
    min-width: 30rem;

    .panel-menu-item {
      padding: 1rem 1.3rem;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: var(--color-gray-6);
      }

      &.active {
        background-color: var(--color-primary);
      }
    }
  }

  .panel-content {
    padding: 1rem;
  }
}
