.data-table {
  height: calc(var(--content-height) - 30rem);
  overflow-y: auto;

  cdk-header-row {
    position: sticky;
    top: 9rem;
    z-index: 100;
  }

  .ordering {
    justify-content: center;
    width: 3rem;
  }

  .job-header {
    width: 9rem;
  }

  .job-number {
    width: 9rem;
    color: var(--color-primary);

    &:hover {
      cursor: pointer;
    }
  }

  .customer {
    width: 30rem;
  }

  .status {
    width: 22rem;

    &:hover {
      cursor: pointer;
    }
  }

  .row-sm {
    justify-content: center;
    width: 10rem;
  }

  .production-types {
    width: 30rem;
    min-height: 4.1rem;

    .chip-container {
      display: flex;
      flex-flow: row wrap;
      gap: 0.5rem;
      padding: 1rem 0;
    }
  }

  .sub-job-count {
    justify-content: center;
    width: 10rem;
  }

  cdk-row {
    &:hover {
      .comment {
        .comment-container {
          background-color: var(--color-gray-3);
        }
      }
    }
  }

  .sending-date {
    width: 14rem;
  }

  .comment {
    flex: 1;
    padding: 0.5rem 0;
    margin-right: 0.5rem;
    min-width: 12rem;

    .comment-container {
      width: 100%;
      white-space: pre-line;
      padding: 0.8rem;
      border-radius: 0.5rem;
      color: var(--color-primary);
      font-style: italic;
      background-color: var(--color-gray-dark);
      transition: background-color 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .sync {
    width: 3rem;
    display: flex;
    justify-content: center;
  }
}

.data-end-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .data-end {
    width: 100%;
    height: 3.4rem;
    max-width: 30rem;
    margin-top: 4rem;
    border-radius: 2rem;
    background-color: var(--color-gray-dark);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    app-icon {
      margin-right: 0.2rem;
    }
  }
}
