<cdk-table
  *ngIf="dataSource"
  [dataSource]="dataSource"
  matSort
  matSortActive="ordering"
  matSortDirection="asc"
  class="data-table"
>
  <!-- ORDERING -->
  <ng-container matColumnDef="ordering">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="ordering">
      #
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="ordering text-center">
      {{ row.ordering }}
    </mat-cell>
  </ng-container>

  <!-- JOB -->
  <ng-container matColumnDef="jobNumber">
    <mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      class="job-header center"
    >
      JOB
    </mat-header-cell>
    <mat-cell
      *matCellDef="let row"
      class="job-number center"
      matTooltip="{{ row.customer }}"
      matTooltipPosition="above"
      (click)="triggerViewJob(row.jobNumber)"
    >
      {{ row.jobNumber }}
    </mat-cell>
  </ng-container>

  <!-- CUSTOMER -->
  <ng-container matColumnDef="customer">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="customer">
      CLIENT
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="customer">
      {{ row.customer }}
    </mat-cell>
  </ng-container>

  <!-- STATUS -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="status">
      STATUT
    </mat-header-cell>
    <mat-cell
      *matCellDef="let row"
      class="status"
      (click)="triggerChangeStatus(row.jobNumber)"
    >
      <span
        class="chip chip-sm"
        [companyAppColor]="getStatusColors(row.status)"
      >
        {{ getStatusLabel(row.status) }}
      </span>
    </mat-cell>
  </ng-container>

  <!-- PRODUCTION TYPES (Fabrication) -->
  <ng-container matColumnDef="factory">
    <mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      matTooltip="Types de fabrications"
      matTooltipPosition="above"
      class="production-types"
    >
      FABRICATIONS
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="production-types">
      <div class="chip-container">
        <span *ngFor="let prodType of row.factory" class="chip chip-sm">
          {{ prodType }}
        </span>
      </div>
    </mat-cell>
  </ng-container>

  <!-- SUB-JOBS COUNT -->
  <ng-container matColumnDef="subJobCount">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="row-sm">
      SOUS-JOBS
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="row-sm">
      {{ row.subJobCount }}
    </mat-cell>
  </ng-container>

  <!-- PRINTING SURFACE -->
  <ng-container matColumnDef="printingSurface">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="row-sm">
      SURFACE
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="row-sm">
      {{ row.printingSurface | number : '1.0-1' }}
    </mat-cell>
  </ng-container>

  <!-- MANUFACTURED PIECE COUNT -->
  <ng-container matColumnDef="manufacturedPieceCount">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="row-sm">
      EX
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="row-sm">
      {{ row.manufacturedPieceCount }}
    </mat-cell>
  </ng-container>

  <!-- SENDING DATE -->
  <ng-container matColumnDef="sendingDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="sending-date">
      DATE DE DEPART
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="sending-date">
      {{ row.sendingDate | date : 'EEEE dd/MM' }}
    </mat-cell>
  </ng-container>

  <!-- COMMENT -->
  <ng-container matColumnDef="comment">
    <mat-header-cell *matHeaderCellDef class="comment"
      >COMMENTAIRE</mat-header-cell
    >
    <mat-cell *matCellDef="let row" class="comment">
      <div
        class="comment-container"
        *ngIf="row.comment"
        (click)="triggerChangeComment(row.jobNumber)"
      >
        {{ row.comment }}
      </div>
    </mat-cell>
  </ng-container>

  <!-- SYNC -->
  <ng-container matColumnDef="sync">
    <mat-header-cell *matHeaderCellDef class="sync"></mat-header-cell>
    <mat-cell *matCellDef="let row" class="sync">
      <span class="dot dot-error" *ngIf="hasSyncError(row.syncStatus)"></span>
    </mat-cell>
  </ng-container>

  <!-- ACTIONS -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class=""></mat-header-cell>
    <mat-cell *matCellDef="let row" class="">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <ul class="menu">
          <li class="menu-item" (click)="triggerChangeComment(row.jobNumber)">
            <app-icon>rate_review</app-icon>Commentaire
          </li>

          <li
            class="menu-item"
            (click)="triggerChangeStatus(row.jobNumber)"
            *ngIf="canChangeJobStatus"
          >
            <app-icon>check</app-icon>Modifier le statut
          </li>

          <li class="menu-item" (click)="triggerViewJob(row.jobNumber)">
            <app-icon>open_in_new</app-icon>Ouvrir le job
          </li>
        </ul>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
  <cdk-row *cdkRowDef="let row; columns: displayedColumns"></cdk-row>
</cdk-table>

<div class="data-end-container">
  <div class="data-end">
    <app-icon class="color-info fs-1-8">lightbulb</app-icon>
    <span>Fin des données</span>
  </div>
</div>
