<div class="container">
  <material-materials-list-heading
    [initType]="initType"
    [searchValue]="search$ | async"
    (typeChange)="onTypeChange($event)"
    (groupChange)="onGroupChange($event)"
    (search)="onSearch($event)"
  ></material-materials-list-heading>

  <material-materials-list
    *ngIf="!isLoading"
    [productList]="productList"
    [productType]="productType$ | async"
    [customerList]="customerList$ | async"
    [initScroll]="initScroll"
    (scroll)="onScroll($event)"
  ></material-materials-list>

  <div class="loader" *ngIf="isLoading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
