<div class="container" *ngIf="product && !isLoading">
  <div class="material-view-heading-container">
    <nav class="material-view-heading">
      <span class="return" routerLink="/company/stock/materials">
        <button
          mat-icon-button
          color="accent"
          aria-label="Jour précédent"
          class="d-flex align-items-center"
        >
          <mat-icon>chevron_left</mat-icon>
        </button>
        <span class="ml-0-5 fs-1-6">Retour à la liste</span>
      </span>

      <h2 class="product-name">{{ product.name }}</h2>

      <div class="right"></div>
    </nav>
  </div>

  <div class="product-details">
    <div class="product-details-column">
      <h3 class="product-details-column-heading">Informations produit</h3>
      <ul class="details">
        <li class="details-item" *ngFor="let productDetail of productDetails">
          <span class="label">{{ productDetail.label }}</span>
          <span class="value">{{ productDetail.value }}</span>
        </li>
      </ul>
    </div>

    <div class="product-details-column">
      <h3 class="product-details-column-heading">Documents associés</h3>
    </div>
  </div>

  <h2 class="items-heading" *ngIf="displayItemsTitle">Liste des produits</h2>

  <div *ngFor="let product of products" class="product-card">
    <h2 class="product-complete-name">{{ product.completeName }}</h2>
    <div class="data">
      <ul class="details">
        <li class="details-item" *ngIf="!product.stockManagement">
          <span class="label">Gestion du stock</span>
          <span class="value color-gray-1 chip chip-sm chip-error">Non</span>
        </li>

        <ng-container *ngIf="product.stockManagement">
          <li class="details-item">
            <span class="label">Quantité en stock</span>
            <span
              class="value"
              [class.colorError]="product.stock < product.minimumStock"
            >
              {{ getProductDisplayStock(product) }}
            </span>
          </li>

          <li class="details-item">
            <span class="label">Quantité réservée</span>
            <span class="value">
              {{ getProductDisplayReservedStock(product) }}
            </span>
          </li>

          <li class="details-item">
            <span class="label">Quantité disponible</span>
            <span class="value">
              {{ getProductDisplayFreeStock(product) }}
            </span>
          </li>
        </ng-container>
      </ul>

      <div class="actions" *ngIf="product.stockManagement">
        <button
          class="btn btn-icon btn-danger"
          *ngIf="viewDecreaseButton(product)"
          (click)="openProductViewStock(product)"
        >
          <app-icon>arrow_downward</app-icon>
          Déstocker
        </button>

        <button
          class="btn btn-icon btn-success ml-1"
          *ngIf="displayCancelButton(product)"
          (click)="openCancelMutation(product)"
        >
          <app-icon>arrow_upward</app-icon>
          Annuler déstock.
        </button>

        <button
          class="btn btn-icon btn-danger ml-1"
          *ngIf="canHandleStock"
          (click)="openMaterialInventory(product)"
        >
          <app-icon>update</app-icon>
          Modifier le stock
        </button>

        <button
          class="btn btn-outline btn-outline-info ml-1"
          (click)="openProductStockHistory(product)"
        >
          Historique
        </button>
      </div>
    </div>
  </div>
</div>

<div class="loader" *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
