.container {
  height: calc(var(--content-height) - 8rem);
  padding-bottom: 10rem;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  .material-view-heading-container {
    position: sticky;
    top: 0;
    z-index: 100;
    height: 8rem;
    background-color: var(--color-background);
    padding: 1rem 0;

    .material-view-heading {
      padding: 0 2rem;
      display: flex;
      align-items: center;
      border-radius: 0.5rem;
      background-color: var(--color-gray-2);

      .return {
        flex: 1;
        display: flex;
        align-items: center;

        &:hover {
          cursor: pointer;
        }
      }

      .product-name {
        flex: 2;
        text-align: center;
        padding: 2rem;
        color: var(--color-primary);
      }

      .right {
        flex: 1;
      }
    }
  }

  .items-heading {
    position: sticky;
    top: 8rem;

    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--color-gray-2);
  }

  .product-details {
    display: flex;

    .product-details-column {
      flex: 1;
      padding: 2rem;

      .product-details-column-heading {
        color: var(--color-primary);
      }

      .details {
        margin-top: 1rem;
        font-size: 1.5rem;

        .details-item {
          display: flex;
          align-items: center;
          padding: 0.5rem 0;

          .label {
            width: 15rem;
            color: var(--color-gray-8);
          }

          &.actions {
            margin-top: 2rem;
          }
        }
      }
    }
  }

  .product-card {
    border: 1px solid var(--color-gray-6);
    border-radius: 0.5rem;
    margin: 2rem 1rem;
    padding: 2rem;
    transition: background-color 0.2s ease-in-out;

    &:first-child {
      margin-top: 0;
    }

    &:hover {
      background-color: var(--color-gray-2);
    }

    .product-name {
      color: var(--color-primary);
    }

    .data {
      display: flex;
      align-items: center;

      .details {
        flex: 1;
        margin-top: 1rem;
        font-size: 1.5rem;

        .details-item {
          display: flex;
          align-items: center;
          padding: 0.5rem 0;

          .label {
            width: 15rem;
            color: var(--color-gray-8);
          }

          &.actions {
            margin-top: 2rem;
          }
        }
      }

      .actions {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        padding-right: 2rem;
      }
    }
  }
}

.loader {
  height: var(--content-height);
  display: flex;
  justify-content: center;
  align-items: center;
}
