<div class="container">
  <job-view-production-filters
    [deviceFilters]="prodFilterDevices$ | async"
  ></job-view-production-filters>

  <ng-container *ngIf="prodFilterSubJobs$ | async; let subJobs">
    <app-sub-job
      *ngFor="let subJob of subJobs"
      [subJob]="subJob"
      (openMaterialInfo)="openMaterialInfo($event)"
    ></app-sub-job>
  </ng-container>
</div>
