<div class="container p-3 bg-color-gray-3">
  <h2 class="mb-4 mt-1 fw-light text-center">
    {{
      this.action === 'create'
        ? 'Créer un nouveau role'
        : 'Modifier le role ' + this.role?.label
    }}
  </h2>

  <form [formGroup]="form" (ngSubmit)="saveRole()">
    <mat-form-field appearance="outline" color="accent" class="mb-2">
      <mat-label>Label</mat-label>
      <input matInput formControlName="label" type="text" />
      <mat-error *ngIf="form.get('label')?.errors">
        Ce champ est requis
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent" class="mb-2">
      <mat-label>Niveau</mat-label>
      <mat-select formControlName="level" panelClass="test">
        <mat-option *ngFor="let level of levels" [value]="level">
          {{ level }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        rows="3"
        cols="40"
        formControlName="description"
        type="text"
      ></textarea>
      <mat-error *ngIf="form.get('label')?.errors">
        Ce champ est requis
      </mat-error>
    </mat-form-field>

    <div
      class="p-2 bg-color-error rounded-0-5 mb-2"
      *ngIf="error$ | async; let error"
    >
      {{ error }}
    </div>

    <div class="mt-3 text-center">
      <button class="btn btn-secondary mr-1" mat-dialog-close>Annuler</button>

      <button class="btn btn-primary">Enregistrer</button>
    </div>
  </form>
</div>
