.container {
  max-width: 192rem;
  width: 100%;
  margin: auto;
  padding: 0 2rem 20rem 2rem;
  overflow: auto;
  height: var(--content-height);

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}
