<div
  (planningScroll)="registerScroll($event)"
  [setInitScroll]="setInitScroll"
  class="container"
>
  <jobs-planning-header
    *ngIf="setup$ && group$ && machine$ | async"
    [setup]="setup$ | async"
    [currentDate]="currentDate$ | async"
    [group]="group$ | async"
    [machine]="machine$ | async"
    [search]="search$ | async"
    (prevDate)="setPrevDate()"
    (nextDate)="setNextDate()"
    (todayDate)="setTodayDate()"
    (openSettings)="openPlanningSettings()"
    (searchJob)="searchJob($event)"
    (clearSearch)="clearSearch()"
  ></jobs-planning-header>

  <jobs-planning
    *ngIf="displayPlanning"
    [dataSource]="dataSource"
    [isLoading]="isLoading$ | async"
    [metaStatusMap]="metaJobsStatusMap$ | async"
    [canChangeJobStatus]="canChangeJobStatus"
    (changeStatus)="openJobStatus($event)"
    (changeComment)="openJobComment($event)"
    (viewJob)="navigateToJob($event)"
  ></jobs-planning>

  <jobs-planning-message
    *ngIf="displayPlanningMessage"
    [search]="search$ | async"
    [isLoading]="isLoading$ | async"
    [loadingError]="fetchError$ | async"
  >
  </jobs-planning-message>
</div>
