<div class="p-3" *ngIf="articleMeta">
  <h2>Supprimer la configuration d'article</h2>
  <h3>{{ articleMeta.article.completeName }}</h3>

  <div class="mt-3 text-right">
    <button class="btn btn-secondary" matDialogClose>Annuler</button>

    <button class="btn btn-danger ml-1" (click)="onConfirmRemove()">
      Supprimer
    </button>
  </div>
</div>
