<div class="container">
  <h2 class="p-2 d-flex justify-content-center align-items-center">
    <app-icon class="mr-0-2">pan_tool</app-icon>
    Traitement de la réservation matière
  </h2>

  <div class="message">
    <p class="fs-1-6">
      Le traitement de la réservation matière permet de déstocker la matière.<br />
      Il est possible de ne déstocker qu'une partie des plaque si, par exemple,
      on utilise des chutes pour certains formats.
    </p>
  </div>

  <div class="message">
    <p class="fs-1-6">
      Vous pouvez aussi désactiver certaines lignes pour ne traiter qu'une
      partie de la réservation.
    </p>
  </div>

  <ul class="pao-resa" *ngIf="ready">
    <li *ngFor="let resa of paoReservations; let index = index">
      <job-view-resa-handle-item
        [resa]="resa"
        [handle]="handle"
        [product]="getProduct(resa.productId)"
        [user]="user$ | async"
        [jobNumber]="jobNumber"
        (quantityChange)="onQuantityChange($event)"
        (finish)="onFinish(index, $event)"
      ></job-view-resa-handle-item>
    </li>
  </ul>

  <div class="error" *ngIf="freeStockError">
    {{ freeStockError }}
  </div>

  <div class="text-center mt-2" *ngIf="success === null">
    <button class="btn btn-outline btn-outline-secondary" (click)="onReturn()">
      Annuler
    </button>

    <button
      class="btn btn-primary ml-1"
      (click)="handleReservation()"
      *ngIf="!freeStockError && paoReservations?.length"
    >
      Traiter
    </button>
  </div>

  <div class="success" *ngIf="success === true">
    <p class="success-message">
      Le traitement de la réservation matière a été réalisé avec succès.
    </p>

    <div class="text-center">
      <button class="btn btn-primary" (click)="onReturn()">Retour</button>
    </div>
  </div>

  <div class="retry" *ngIf="success === false">
    <p class="warning-message">
      Un problème est survenu lors du traitement, certains éléments de la
      réservation n'ont pas été traitées.
    </p>

    <div class="text-center">
      <button class="btn btn-secondary" (click)="onReturn()">Retour</button>

      <button class="btn btn-primary ml-1" (click)="handleReservation()">
        Relancer le traitement
      </button>
    </div>
  </div>
</div>
