.container {
  height: calc(var(--content-height) - 16rem);
  display: flex;
  align-items: center;
  justify-content: center;

  .message {
    padding: 2rem;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--color-info);
    background-color: var(--color-gray-dark);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    app-icon {
      margin-right: 0.2rem;
    }
  }
}
