<div class="container">
  <mat-progress-spinner
    mode="indeterminate"
    *ngIf="isLoading"
  ></mat-progress-spinner>

  <div class="message" *ngIf="isEmpty">
    <app-icon class="color-info fs-3">lightbulb</app-icon>
    <span>Aucune demande de résa en cours...</span>
  </div>
</div>
