.list {
  height: calc(var(--content-height) - 14rem);
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  padding: 2rem;

  .group {
    margin-bottom: 2rem;

    .group-title {
      margin: 1rem 0;
      padding: 1rem 2rem;
      background-color: var(--color-gray-3);
      border-radius: 0.5rem;
      font-weight: 700;
    }

    .product {
      padding: 1rem 2rem;
      transition: background-color 0.2s ease-in-out;
      border-bottom: 1px solid var(--color-gray-3);
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        cursor: pointer;
        background-color: var(--color-gray-2);
      }
    }
  }

  .data-end-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .data-end {
      width: 100%;
      height: 3.4rem;
      max-width: 30rem;
      margin: 4rem 0 8rem 4rem;
      border-radius: 2rem;
      background-color: var(--color-gray-dark);
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      app-icon {
        margin-right: 0.2rem;
      }
    }
  }
}
