<div
  *ngIf="productList"
  class="list"
  (stockScroll)="registerScroll($event)"
  [setInitScroll]="initScroll"
>
  <material-category-container
    [title]="getGroupTypeLabel(groupType.groupType)"
    *ngFor="let groupType of productList"
    class="mb-2"
  >
    <ul>
      <li *ngFor="let groups of groupType.groups" class="group">
        <h3 class="group-title" *ngIf="groups.description">
          {{ groups.description }}
        </h3>

        <ul>
          <li
            *ngFor="let product of groups.products"
            class="product"
            [routerLink]="[productType, product.articleIds[0]]"
          >
            {{ product.description }}
          </li>
        </ul>
      </li>
    </ul>
  </material-category-container>

  <div class="data-end-container">
    <div class="data-end">
      <app-icon class="color-info fs-1-8">lightbulb</app-icon>
      <span>Fin des données</span>
    </div>
  </div>
</div>
