.border {
  border: 1px solid;

  &-gray-1 {
    border-color: var(--color-gray-1);
  }

  &-gray-2 {
    border-color: var(--color-gray-2);
  }

  &-gray-3 {
    border-color: var(--color-gray-3);
  }

  &-gray-4 {
    border-color: var(--color-gray-4);
  }

  &-gray-5 {
    border-color: var(--color-gray-5);
  }

  &-gray-6 {
    border-color: var(--color-gray-6);
  }

  &-gray-7 {
    border-color: var(--color-gray-7);
  }

  &-gray-8 {
    border-color: var(--color-gray-8);
  }

  &-gray-9 {
    border-color: var(--color-gray-9);
  }

  &-gray-10 {
    border-color: var(--color-gray-10);
  }

  &-gray-11 {
    border-color: var(--color-gray-11);
  }

  &-gray-12 {
    border-color: var(--color-gray-12);
  }

  &-gray-13 {
    border-color: var(--color-gray-13);
  }

  &-gray-14 {
    border-color: var(--color-gray-14);
  }

  &-primary {
    border-color: var(--color-primary);
  }

  &-secondary {
    border-color: var(--color-secondary);
  }

  &-success {
    border-color: var(--color-success);
  }

  &-warning {
    border-color: var(--color-warning);
  }

  &-error {
    border-color: var(--color-error);
  }
}
