@use '../media';

$pseudo-classes: hover;

.color-primary {
  color: var(--color-primary);
}
.bg-color-primary {
  background-color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}
.bg-color-secondary {
  background-color: var(--color-secondary);
}

.color-success {
  color: var(--color-success);
}
.bg-color-success {
  background-color: var(--color-success);
}

.color-warning {
  color: var(--color-warning);
}
.bg-color-warning {
  background-color: var(--color-warning);
}

.color-error {
  color: var(--color-error);
}
.bg-color-error {
  background-color: var(--color-error);
}

.color-info {
  color: var(--color-info);
}
.bg-color-info {
  background-color: var(--color-info);
}

.color-gray-light {
  color: var(--color-gray-light);
}
.bg-color-gray-light {
  background-color: var(--color-gray-light);
}

.color-gray-dark {
  color: var(--color-gray-dark);
}
.bg-color-gray-dark {
  background-color: var(--color-gray-dark);
}

.color-background {
  color: var(--color-background);
}
.bg-color-background {
  background-color: var(--color-background);
}

.color-white {
  color: white;
}
.bg-color-white {
  background-color: white;
}

.color-atc-purple {
  color: var(--color-atc-purple);
}
.bg-atc-purple {
  background-color: var(--color-atc-purple);
}

.color-gray-1 {
  color: var(--color-gray-1);
}
.bg-color-gray-1 {
  background-color: var(--color-gray-1);
}

.color-gray-2 {
  color: var(--color-gray-2);
}
.bg-color-gray-2 {
  background-color: var(--color-gray-2);
}

.color-gray-3 {
  color: var(--color-gray-3);
}
.bg-color-gray-3 {
  background-color: var(--color-gray-3);
}

.color-gray-4 {
  color: var(--color-gray-4);
}
.bg-color-gray-4 {
  background-color: var(--color-gray-4);
}

.color-gray-5 {
  color: var(--color-gray-5);
}
.bg-color-gray-5 {
  background-color: var(--color-gray-5);
}

.color-gray-6 {
  color: var(--color-gray-6);
}
.bg-color-gray-6 {
  background-color: var(--color-gray-6);
}

.color-gray-7 {
  color: var(--color-gray-7);
}
.bg-color-gray-7 {
  background-color: var(--color-gray-7);
}

.color-gray-8 {
  color: var(--color-gray-8);
}
.bg-color-gray-8 {
  background-color: var(--color-gray-8);
}

.color-gray-9 {
  color: var(--color-gray-9);
}
.bg-color-gray-9 {
  background-color: var(--color-gray-9);
}

.color-gray-10 {
  color: var(--color-gray-10);
}
.bg-color-gray-10 {
  background-color: var(--color-gray-10);
}

.color-gray-11 {
  color: var(--color-gray-11);
}
.bg-color-gray-11 {
  background-color: var(--color-gray-11);
}

.color-gray-12 {
  color: var(--color-gray-12);
}
.bg-color-gray-12 {
  background-color: var(--color-gray-12);
}

.color-gray-13 {
  color: var(--color-gray-13);
}
.bg-color-gray-13 {
  background-color: var(--color-gray-13);
}

.color-gray-14 {
  color: var(--color-gray-14);
}
.bg-color-gray-14 {
  background-color: var(--color-gray-14);
}

@each $pseudo-class in $pseudo-classes {
  .#{$pseudo-class}\:color-primary:#{$pseudo-class} {
    color: var(--color-primary);
  }
  .#{$pseudo-class}\:bg-color-primary:#{$pseudo-class} {
    background-color: var(--color-primary);
  }

  .#{$pseudo-class}\:color-secondary:#{$pseudo-class} {
    color: var(--color-secondary);
  }
  .#{$pseudo-class}\:bg-color-secondary:#{$pseudo-class} {
    background-color: var(--color-secondary);
  }

  .#{$pseudo-class}\:color-gray-light:#{$pseudo-class} {
    color: var(--color-gray-light);
  }
  .#{$pseudo-class}\:bg-color-gray-light:#{$pseudo-class} {
    background-color: var(--color-gray-light);
  }

  .#{$pseudo-class}\:color-gray-dark:#{$pseudo-class} {
    color: var(--color-gray-dark);
  }
  .#{$pseudo-class}\:bg-color-gray-dark:#{$pseudo-class} {
    background-color: var(--color-gray-dark);
  }

  .#{$pseudo-class}\:color-success:#{$pseudo-class} {
    color: var(--color-success);
  }
  .#{$pseudo-class}\:bg-color-success:#{$pseudo-class} {
    background-color: var(--color-success);
  }

  .#{$pseudo-class}\:color-warning:#{$pseudo-class} {
    color: var(--color-warning);
  }
  .#{$pseudo-class}\:bg-color-warning:#{$pseudo-class} {
    background-color: var(--color-warning);
  }

  .#{$pseudo-class}\:color-error:#{$pseudo-class} {
    color: var(--color-error);
  }
  .#{$pseudo-class}\:bg-color-error:#{$pseudo-class} {
    background-color: var(--color-error);
  }

  .#{$pseudo-class}\:color-info:#{$pseudo-class} {
    color: var(--color-info);
  }
  .#{$pseudo-class}\:bg-color-info:#{$pseudo-class} {
    background-color: var(--color-info);
  }

  @for $i from 1 through 14 {
    .#{$pseudo-class}\:color-gray-#{$i}:#{$pseudo-class} {
      color: var(--color-gray-#{$i});
    }
    .#{$pseudo-class}\:bg-color-gray-#{$i}:#{$pseudo-class} {
      background-color: var(--color-gray-#{$i});
    }
  }
}
