@use "../media";

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-table {
  display: table;
}

.d-table-cell {
  display: table-cell;
}

.d-inline-block {
  display: inline-block;
}

@each $media in media.$names {
  @include media.set($media) {
    .#{$media}d-none {
      display: none;
    }

    .#{$media}d-flex {
      display: flex;
    }

    .#{$media}d-block {
      display: block;
    }

    .#{$media}d-table {
      display: table;
    }

    .#{$media}d-table-cell {
      display: table-cell;
    }

    .#{$media}d-inline-block {
      display: inline-block;
    }
  }
}
