.fw-300,
.fw-light {
  font-weight: 300;
}

.fw-400,
.fw-normal {
  font-weight: 400;
}

.fw-500,
.fw-medium {
  font-weight: 500;
}

.fw-600,
.fs-semi-bold {
  font-weight: 600;
}

.fw-700,
.fw-bold {
  font-weight: 700;
}

.fw-800,
.fw-black {
  font-weight: 800;
}

.fw-900,
.fw-ultra-black {
  font-weight: 900;
}
