@use '../media';

.fs-xs,
.fs-1 {
  font-size: 1rem;
}

.fs-sm,
.fs-1-2 {
  font-size: 1.2rem;
}

.fs-1-4 {
  font-size: 1.4rem;
}

.fs-1-5 {
  font-size: 1.5rem;
}

.fs-normal,
.fs-1-6 {
  font-size: 1.6rem;
}

.fs-md,
.fs-2 {
  font-size: 2rem;
}

.fs-2-5 {
  font-size: 2.5rem;
}

.fs-lg,
.fs-3 {
  font-size: 3rem;
}

.fs-xl,
.fs-4 {
  font-size: 4rem;
}

.fs-2xl,
.fs-5 {
  font-size: 5rem;
}

.fs-3xl,
.fs-6 {
  font-size: 6rem;
}

@each $media in media.$names {
  @include media.set(#{$media}) {
    .#{$media}fs-xs,
    .#{$media}fs-1 {
      font-size: 1rem;
    }

    .#{$media}fs-sm,
    .#{$media}fs-1-2 {
      font-size: 1.2rem;
    }

    .#{$media}fs-1-4 {
      font-size: 1.4rem;
    }

    .#{$media}fs-1-5 {
      font-size: 1.5rem;
    }

    .#{$media}fs-normal,
    .#{$media}fs-1-6 {
      font-size: 1.6rem;
    }

    .#{$media}fs-md,
    .#{$media}fs-2 {
      font-size: 2rem;
    }

    .#{$media}fs-2-5 {
      font-size: 2.5rem;
    }

    .#{$media}fs-lg,
    .#{$media}fs-3 {
      font-size: 3rem;
    }

    .#{$media}fs-xl,
    .#{$media}fs-4 {
      font-size: 4rem;
    }

    .#{$media}fs-2xl,
    .#{$media}fs-5 {
      font-size: 5rem;
    }

    .#{$media}fs-3xl,
    .#{$media}fs-6 {
      font-size: 6rem;
    }
  }
}
