@use "../media";

.h-50 {
  height: 50%;
}

.h-full,
.h-100 {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.mh-screen {
  min-height: 100vh;
}

@each $media in media.$names {
  @include media.set(#{$media}) {
    .#{$media}h-50 {
      height: 50%;
    }

    .#{$media}h-full,
    .#{$media}h-100 {
      height: 100%;
    }

    .#{$media}h-screen {
      height: 100vh;
    }

    .#{$media}mh-screen {
      min-height: 100vh;
    }
  }
}
