@use "../media";

$paddings: (
  0: 0,
  "0-5": 0.5,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  11: 11,
  12: 12,
);

@each $media in media.$names {
  @each $name, $value in $paddings {
    @include media.set(#{$media}) {
      .#{$media}p-#{$name} {
        padding: #{$value}rem;
      }

      .#{$media}px-#{$name} {
        padding-left: #{$value}rem;
        padding-right: #{$value}rem;
      }

      .#{$media}py-#{$name} {
        padding-top: #{$value}rem;
        padding-bottom: #{$value}rem;
      }

      .#{$media}pt-#{$name} {
        padding-top: #{$value}rem;
      }

      .#{$media}pb-#{$name} {
        padding-bottom: #{$value}rem;
      }

      .#{$media}pl-#{$name} {
        padding-left: #{$value}rem;
      }

      .#{$media}pr-#{$name} {
        padding-right: #{$value}rem;
      }
    }
  }
}
