@use "../media";

$sizes: (
  0: 0,
  "0-3": 0.3,
  "0-5": 0.5,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
);

.rounded-0 {
  border-radius: 0;
}

.rounded-xs,
.rounded-0-3 {
  border-radius: 0.3rem;
}

.rounded-sm,
.rounded-0-5 {
  border-radius: 0.5rem;
}

.rounded,
.rounded-1 {
  border-radius: 1rem;
}

.rounded-md,
.rounded-1-5 {
  border-radius: 1.5rem;
}

.rounded-lg,
.rounded-2 {
  border-radius: 2rem;
}

.rounded-xl,
.rounded-3 {
  border-radius: 3rem;
}

.rounded-\2xl,
.rounded-4 {
  border-radius: 4rem;
}

@each $name, $value in $sizes {
  .rounded-t-#{$name} {
    border-top-left-radius: #{$value}rem;
    border-top-right-radius: #{$value}rem;
  }

  .rounded-tl-#{$name} {
    border-top-left-radius: #{$value}rem;
  }

  .rounded-tr-#{$name} {
    border-top-right-radius: #{$value}rem;
  }

  .rounded-b-#{$name} {
    border-bottom-left-radius: #{$value}rem;
    border-bottom-right-radius: #{$value}rem;
  }

  .rounded-bl-#{$name} {
    border-bottom-left-radius: #{$value}rem;
  }

  .rounded-br-#{$name} {
    border-bottom-right-radius: #{$value}rem;
  }

  .rounded-l-#{$name} {
    border-top-left-radius: #{$value}rem;
    border-bottom-left-radius: #{$value}rem;
  }

  .rounded-r-#{$name} {
    border-top-right-radius: #{$value}rem;
    border-bottom-right-radius: #{$value}rem;
  }
}
