body {
  * {
    .transition,
    .transition-all {
      transition: all 0.2s ease-in-out !important;
    }

    .transition-bg-color {
      transition: background-color 0.2s ease-in-out !important;
    }
  }
}
