@use "../media";

.w-50 {
  width: 50%;
}

.w-full,
.w-100 {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

@each $media in media.$names {
  @include media.set(#{$media}) {
    .#{$media}w-50 {
      width: 50%;
    }

    .#{$media}w-full,
    .#{$media}w-100 {
      width: 100%;
    }

    .#{$media}w-screen {
      width: 100vw;
    }
  }
}
