<div class="container" *ngIf="job$ | async; let job">
  <!-- ------------ Job ------------ -->
  <h2 class="data-list-heading">Job</h2>
  <ul class="data-list">
    <li class="data-list-item">
      <span class="title">Numéro</span>
      <span class="content color-primary">{{ job.mp.number }}</span>
    </li>

    <li class="data-list-item">
      <span class="title">Statut</span>
      <span class="content">{{ job.mp.jobStatus }}</span>
    </li>

    <li class="data-list-item">
      <span class="title">Plannifié ?</span>
      <span class="content">{{ job.mp.planned ? 'oui' : 'non' }}</span>
    </li>

    <li class="data-list-item">
      <span class="title">Date de création</span>
      <span class="content">
        {{ job.createdAt | date : 'EEEE dd MMMM y' }}</span
      >
    </li>

    <li class="data-list-item">
      <span class="title">Date de dernière mise à jour</span>
      <span class="content">
        {{ job.updatedAt | date : 'EEEE dd MMMM y' }}</span
      >
    </li>
  </ul>

  <!-- ------------ Contacts ATC ------------ -->
  <h2 class="data-list-heading">Contacts ATC</h2>
  <ul class="data-list">
    <li class="data-list-item">
      <span class="title">Créateur</span>
      <span class="content">{{ job.mp.creator }}</span>
    </li>

    <li class="data-list-item">
      <span class="title">Chargé(e) de projet</span>
      <span class="content">{{ job.mp.jobManager }}</span>
    </li>

    <li class="data-list-item">
      <span class="title">Commercial(e)</span>
      <span class="content">{{ job.mp.salesMan }}</span>
    </li>
  </ul>

  <!-- ------------ Contacts Client ------------ -->
  <h2 class="data-list-heading">Contacts Client</h2>
  <ul class="data-list">
    <li class="data-list-item">
      <span class="title">Client</span>
      <span class="content">{{ job.mp.company }}</span>
    </li>

    <li class="data-list-item">
      <span class="title">Contact</span>
      <span class="content">{{ job.mp.contactName }}</span>
    </li>

    <li class="data-list-item">
      <span class="title">Téléphone</span>
      <span class="content">{{ job.mp.phone }}</span>
    </li>

    <li class="data-list-item">
      <span class="title">Mail</span>
      <span class="content">{{ job.mp.email }}</span>
    </li>
  </ul>

  <!-- ------------ Délais ------------ -->
  <h2 class="data-list-heading">Délais</h2>
  <ul class="data-list">
    <li class="data-list-item">
      <span class="title">Date de départ:</span>
      <span class="content">
        {{ job.mp.sendingDate | date : 'EEEE dd MMMM y' }}
      </span>
    </li>

    <li class="data-list-item">
      <span class="title">Date de livraison</span>
      <span class="content">
        {{ job.mp.deliveryDate | date : 'EEEE dd MMMM y' }}
      </span>
    </li>
  </ul>

  <!-- ------------ Méta-données ------------ -->
  <h2 class="data-list-heading">Méta-données</h2>
  <ul class="data-list">
    <li class="data-list-item">
      <span class="title">Nombre de sous jobs</span>

      <span class="content">
        {{ job.subJobs?.length }}
      </span>
    </li>

    <li class="data-list-item">
      <span class="title">Surface totale</span>

      <span class="content">
        {{ job.meta.printingSurface | number : '1.0-1' }} m2
      </span>
    </li>

    <li class="data-list-item">
      <span class="title">Nombre d'exemplaires total</span>

      <span class="content"> {{ job.meta.manufacturedPiecesCount }} Ex. </span>
    </li>
  </ul>

  <!-- ------------ Historique des modifications ------------ -->
  <h2 class="data-list-heading">Historique des modifications</h2>
  <ul class="data-list">
    <li class="data-list-item" *ngFor="let item of job.mp.jobStatusHistory">
      <span class="title">{{ getHistoryLineDate(item) }}</span>

      <span class="content">
        {{ getHistoryLineContent(item) }}
      </span>
    </li>
  </ul>
</div>
