<div class="container p-3 bg-color-gray-3">
  <ng-container *ngIf="!success">
    <h2
      class="mt-1 fw-light text-center fs-2 d-flex justify-content-center align-items-center"
    >
      <app-icon class="fs-5">encrypted</app-icon>
      Réinitialisation de mot de passe
    </h2>

    <p class="p-2 fs-1-5 text-center">
      Êtes vous sure de vouloir réinitialiser le mot de passe de<br />
      <span class="color-primary">
        {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
      </span>
    </p>

    <div
      class="p-2 bg-color-error rounded-0-5 mb-2"
      *ngIf="error$ | async; let error"
    >
      {{ error }}
    </div>

    <div class="mt-3 text-center">
      <button class="btn btn-secondary mr-1" mat-dialog-close>Annuler</button>

      <button class="btn btn-danger" (click)="saveUser()">Réinitialiser</button>
    </div>
  </ng-container>

  <ng-container *ngIf="success">
    <h2
      class="mt-1 fw-light text-center fs-2 d-flex justify-content-center align-items-center"
    >
      <app-icon class="fs-5">verified_user</app-icon>
      Mot de passe réinitialisé
    </h2>

    <p class="px-2 mt-3 fs-1-5">
      Le mot de passe de l'utilisateur a été réinitialisé avev succès.
    </p>

    <p class="px-2 mt-3 fs-1-5">
      Voici son
      <span class="color-primary">nouveau mot de passe temporaire</span>. Il lui
      sera possible de le modifier à tout moment depuis son interface.
    </p>

    <p class="px-2 mt-1 mb-3 fs-1-5">
      Pensez à le copier car après la fermeture de cette fenêtre, il ne sera
      plus possible de l'afficher
    </p>

    <p class="password" (click)="copyPasswordToClipboard()">
      {{ randomPassword }}
      <span class="icon" *ngIf="!copied">
        <app-icon>content_copy</app-icon>
      </span>

      <span class="icon chip chip-sm color-gray-13" *ngIf="copied">
        Copié
      </span>
    </p>

    <div class="mt-3 text-center">
      <button class="btn btn-primary mr-1" mat-dialog-close>Fermer</button>
    </div>
  </ng-container>
</div>
