.container {
  .password {
    position: relative;
    padding: 2rem;
    border-radius: 0.3rem;
    background-color: var(--color-gray-dark);
    text-align: center;
    font-size: 2rem;

    &:hover {
      cursor: pointer;
    }

    .icon {
      position: absolute;
      right: 2rem;
      top: 2rem;
    }
  }
}
