<div
  class="dropdown"
  [class.left]="isLeft()"
  [class.right]="isRight()"
  [ngClass]="class"
  (clickOutside)="clickOutside()"
>
  <button class="label toggle-button" (click)="toggle()">
    {{ selectedItem?.label }}

    <span class="material-symbols-rounded icon">
      {{ expanded ? 'expand_less' : 'expand_more' }}
    </span>
  </button>

  <ul class="dropdown-items" [class.visible]="expanded">
    <li class="search" [class.visible]="search">
      <input type="search" #searchInput (input)="filterList()" />
    </li>

    <li
      *ngFor="let item of list$ | async"
      (click)="selectItem(item)"
      class="dropdown-item"
      [class.selected]="isSelected(item.value)"
    >
      <span class="material-symbols-rounded item-icon" *ngIf="item.icon">
        {{ item.icon }}
      </span>

      {{ item.label }}
    </li>
  </ul>
</div>
