.dropdown {
  position: relative;

  &.left {
    .dropdown-items {
      right: 0;
    }
  }

  &.right {
    .dropdown-items {
      left: 0;
    }
  }

  button.label {
    display: flex;
    align-items: center;
    color: var(--color-gray-12);
    background-color: unset;
    padding: 0.5rem 0.5rem 0.5rem 1.2rem;
    border: 1px solid var(--color-gray-6);
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out;
    font-weight: 100;
    font-size: 1.5rem;

    .icon {
      margin-left: 0.3rem;
      font-size: 2rem;
    }

    &:hover {
      background-color: var(--color-gray-2);
    }
  }

  .dropdown-items {
    display: none;
    position: absolute;
    top: 3.4rem;
    max-height: 29.15rem;
    overflow: auto;
    padding: 0.5rem;
    background-color: var(--color-gray-2);
    border: 1px solid var(--color-gray-3);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
    z-index: 1000;
    white-space: nowrap;

    &.visible {
      display: block;
    }

    .search {
      padding: 0.5rem;
      display: none;

      &.visible {
        display: block;
      }

      input {
        padding: 0.6rem;
        outline: none;
        border: 1px solid var(--color-gray-6);
        border-radius: 0.5rem;
      }
    }

    .dropdown-item {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      padding: 0 1rem;
      height: 3rem;
      border-radius: 0.5rem;
      transition: background-color 0.2s ease-in-out;

      .item-icon {
        width: 2rem;
      }

      &:hover {
        cursor: pointer;
        background-color: var(--color-gray-3);
      }

      &.selected {
        background-color: var(--color-gray-3);
      }
    }
  }
}
