<div class="container">
  <p *ngIf="!isLoading && !loadingError" class="message">
    <app-icon class="fs-4 mr-0-5">lightbulb</app-icon>
    Pas de données pour ce jour...
  </p>
  <mat-progress-spinner
    *ngIf="isLoading"
    mode="indeterminate"
  ></mat-progress-spinner>
  <p class="error" *ngIf="loadingError">{{ loadingError }}</p>
</div>
