.container {
  height: calc(var(--content-height) - 109px);
  display: flex;
  justify-content: center;
  align-items: center;

  .message {
    padding: 3rem;
    background-color: var(--color-info);
    border-radius: 1rem;
    font-size: 1.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .error {
    padding: 3rem;
    background-color: var(--color-error);
    border-radius: 1rem;
  }
}
