.container-heading {
  padding: 2rem;
  color: var(--color-primary);
  background-color: var(--color-gray-2);
  border-radius: 0.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
  }
}

.container-content {
  display: none;

  &.expanded {
    display: block;
  }
}
