<h2 class="container-heading" (click)="toggle()" [ngClass]="class">
  <span>{{ title }}</span>
  <span class="material-symbols-rounded icon">
    {{ expanded ? 'expand_less' : 'expand_more' }}
  </span>
</h2>

<div class="container-content" [class.expanded]="expanded">
  <ng-content></ng-content>
</div>
