<div class="prod-container" *ngIf="subJob">
  <h2 class="prod-heading">Production</h2>

  <div *ngIf="!hasProductionData()">
    <p class="mt-2">Pas de données de production...</p>
  </div>

  <div *ngIf="hasProductionData()">
    <ul class="prod-info">
      <li class="prod-info-item">
        <p class="label">Type de produit</p>
        <p class="value">
          <span class="chip chip-sm chip-primary color-gray-1">{{
            subJob.productType
          }}</span>
        </p>
      </li>
    </ul>

    <ul class="prod mt-2">
      <li
        class="prod-item"
        *ngFor="
          let prodData of subJob.productionData?.numericLayers;
          let prodDataIndex = index
        "
      >
        <div class="prod-item-title color-info">
          <div class="label">
            <span class="chip chip-sm chip-info mr-0-5">
              {{ getNumericLayerCount(prodDataIndex) }}
              {{ prodData.device }}
            </span>
          </div>

          <div *ngIf="displayNumericLayerQuality(prodData)">
            {{ getDisplayNumericLayerQuality(prodData.quality) }}
          </div>
        </div>

        <ul class="numeric">
          <li class="numeric-item" *ngIf="prodData.sheetName">
            <p class="label">Référence</p>
            <p class="value color-info">
              {{ prodData.sheetName }}
            </p>
          </li>

          <li class="numeric-item">
            <p class="label">Format</p>
            <p class="value">{{ prodData.width }} x {{ prodData.height }}mm</p>
          </li>

          <li class="numeric-item">
            <p class="label">Matière</p>
            <p
              class="value material"
              (click)="onOpenMaterialInfo(prodData.mediaId)"
            >
              {{ prodData.mediaName }}
              {{ prodData.mediaThickness | number : '1.0-1' }}mm
            </p>
          </li>

          <li class="numeric-item">
            <p class="label">Quantité</p>
            <p class="value">{{ prodData.quantity }}ex.</p>
          </li>

          <li class="numeric-item" *ngIf="prodData.finishingLayers.length">
            <p class="label">Finitions</p>
            <div class="value">
              <ul class="finishing">
                <li
                  class="finishing-item"
                  [class.color-error]="
                    isLaminationFinishingLayerMaterialUndefined(finishing)
                  "
                  *ngFor="
                    let finishing of prodData.finishingLayers;
                    let index = index
                  "
                >
                  <span *ngIf="index > 0">+ </span>
                  {{ getDisplayFinishingLayer(finishing) }}
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>

      <li
        class="prod-item"
        *ngIf="subJob.productionData?.unlinkedFinishingLayers?.length"
      >
        <h3 class="prod-item-title">Finitions non liées à un layer</h3>

        <ul
          class="numeric"
          *ngFor="
            let layer of subJob.productionData?.unlinkedFinishingLayers;
            let layerIndex = index
          "
        >
          <li class="numeric-item">
            <p class="label">{{ layerIndex + 1 }}</p>
            <p class="value">{{ getDisplayFinishingLayer(layer) }}</p>
          </li>
        </ul>
      </li>

      <ng-container *ngIf="hasSubcontracting">
        <li
          class="prod-item"
          *ngFor="let subcontracting of subJob.productionData?.subcontracting"
        >
          <div class="prod-item-title color-info">
            <div class="label">
              <span class="chip chip-sm chip-info mr-0-5">
                SOUS-TRAITANCE
              </span>
            </div>

            {{ subcontracting.relation }}
          </div>

          <ul class="numeric">
            <li class="numeric-item">
              <p class="label">Finitions</p>
              <div class="value">
                <ul class="finishing">
                  <li
                    class="finishing-item"
                    *ngFor="
                      let item of subcontracting.items;
                      let subIndex = index
                    "
                  >
                    <span *ngIf="subIndex > 0">+ </span>
                    {{ item.description }}
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
