.prod-container {
  flex: 1 1 50%;

  .prod-heading {
    color: var(--color-primary);
    margin-bottom: 0.5rem;
  }

  .prod-info {
    .prod-info-item {
      display: flex;
      flex-flow: row nowrap;
      font-weight: 300;
      padding: 0.3rem 0;

      .label {
        width: 15rem;
        color: var(--color-gray-8);
      }
    }
  }

  .prod {
    margin-top: 1rem;

    .prod-item-title {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      //border-bottom: 1px solid var(--color-gray-6);
      font-size: 1.6rem;

      .label {
        width: 15rem;
      }
    }

    .prod-item {
      .numeric {
        margin-top: 0.5rem;

        .numeric-item {
          display: flex;
          flex-flow: row nowrap;
          font-weight: 300;
          padding: 0.4rem 0;

          .label {
            width: 15rem;
            color: var(--color-gray-8);
          }

          .value {
            &.material {
              &:hover {
                cursor: pointer;
                color: var(--color-primary);
              }
            }
          }

          .finishing {
            .finishing-item {
              padding: 0.3rem 0;
            }
          }
        }
      }
    }
  }
}
