nav {
  position: sticky;
  top: calc(var(--header-height) + 2rem);
  width: 100%;
  min-width: 30rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  background-color: var(--color-gray-2);

  // --- Nav title ---

  .title {
    font-weight: 700;
    padding: 1rem 0 1rem 4.7rem;
    color: var(--color-gray-light);
  }

  // --- Nav sections ---

  .section {
    margin-top: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
    max-height: 3.4rem;
    transition: max-height 0.15s ease-out;

    &:first-child {
      margin-top: 0;
    }

    &.expanded {
      max-height: 40rem;
      transition: max-height 0.3s ease-in;
    }

    // --- nav section heading item ---

    .nav-heading {
      padding: 0.5rem 1rem 0.5rem 0.4rem;
      color: var(--color-gray-9);
      border-radius: 0.3rem;
      font-weight: 300;
      font-size: 1.6rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: var(--color-gray-3);
        cursor: pointer;
      }

      .active-marker {
        width: 0.3rem;
        height: 2.4rem;
        background-color: #ff6100;
        opacity: 0;
        border-radius: 3px;
        transition: opacity 0.2s ease-in-out;

        &.active {
          opacity: 1;
        }
      }

      .icon {
        width: 40px;
        display: flex;
        justify-content: center;
        color: var(--color-gray-light);
      }

      .content {
        flex: 1 1 auto;
      }

      .material-symbols-outlined {
        display: block;
        font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
        font-size: 20px;
        color: var(--color-gray-light);
      }
    }

    // --- Nav section items ---

    .item {
      height: 34px;
      margin-top: 3px;
      padding: 0 10px 0 47px;
      color: #ddd;
      border-radius: 3px;
      font-weight: 300;
      font-size: 14px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      &:hover {
        background-color: #333;
        cursor: pointer;
      }

      &.active {
        color: #ff6100;
        background-color: #333;
      }

      &.disabled {
        color: #666;

        &:hover {
          background-color: #222;
          cursor: auto;
        }
      }
    }
  }
}
