<nav>
  <h2 class="title" *ngIf="nav.title">{{ nav.title }}</h2>
  <ul
    class="section"
    *ngFor="let section of nav.sections"
    [class.expanded]="section.expanded"
  >
    <li class="nav-heading" (click)="toggleSection(section)">
      <div class="active-marker" [class.active]="section.active"></div>

      <div class="icon">
        <span class="material-symbols-outlined">{{ section.icon }}</span>
      </div>

      <div class="content">{{ section.label }}</div>

      <span class="material-symbols-outlined expand-icon">
        {{ section.expanded ? 'expand_less' : 'expand_more' }}
      </span>
    </li>

    <li
      class="item"
      *ngFor="let item of section.items"
      [routerLink]="getItemRoute(section, item)"
      routerLinkActive="active"
      [class.disabled]="item.disabled"
      (click)="selectRoute(section, item)"
    >
      {{ item.label }}
    </li>
  </ul>
</nav>
