<div class="container">
  <p *ngIf="displayMessage" class="message">
    <app-icon class="fs-4 mr-0-5">lightbulb</app-icon>
    {{ message }}
  </p>

  <mat-progress-spinner
    *ngIf="isLoading"
    mode="indeterminate"
  ></mat-progress-spinner>

  <p class="error" *ngIf="loadingError">{{ loadingError }}</p>
</div>
