.container {
  color: var(--color-gray-13);
  font-weight: 300;
  /*width: 100%;
  max-width: 80rem;
  margin: auto;*/

  .info {
    .info-heading {
      display: flex;
      align-items: center;
      color: var(--color-primary);
    }

    .info-content {
      border-left: 0.1rem solid var(--color-primary);
      margin-left: 1.5rem;
      padding: 1rem 2rem;
      white-space: pre-wrap;
      line-height: 2rem;
      letter-spacing: 0.05rem;
    }
  }
}
