<div class="container" *ngIf="job">
  <div class="info pt-3" *ngIf="job.mp.infoPrePress">
    <h2 class="info-heading">
      <app-icon class="fs-3 color-primary">lightbulb</app-icon>
      Info PAO
    </h2>

    <p class="info-content mt-1">
      {{ job.mp.infoPrePress }}
    </p>
  </div>

  <div
    class="p-2 ml-2 mt-3 rounded-0-5 fs-1-6 bg-color-error"
    *ngIf="error$ | async; let error"
  >
    {{ error }}
  </div>

  <div class="info pt-3">
    <div class="info-heading d-flex justify-content-between align-items-center">
      <h2 class="info-heading d-flex align-items-center">
        <app-icon class="fs-3 color-primary">done</app-icon>
        Vérification de fichiers
      </h2>

      <button
        class="btn btn-primary btn-icon"
        *ngIf="canActivate && !editMode"
        (click)="editCheckComment()"
      >
        <mat-icon>edit_note</mat-icon>
        Modifier
      </button>
    </div>

    <p class="info-content mt-1" *ngIf="!editMode">
      <span *ngIf="job.pao?.checkComment">{{ job.pao?.checkComment }}</span>
      <span *ngIf="!job.pao?.checkComment" class="color-gray-8">
        Pas de vérif pour ce job...
      </span>
    </p>

    <form
      class="px-2 pt-2"
      [formGroup]="form"
      (ngSubmit)="saveCheckComment()"
      *ngIf="editMode"
    >
      <mat-form-field appearance="outline" class="w-100">
        <mat-label class="fs-1-6">Vérif fichiers</mat-label>
        <textarea
          matInput
          rows="15"
          cols="40"
          formControlName="checkComment"
          autofocus
        ></textarea>
      </mat-form-field>

      <div class="text-right">
        <button
          type="button"
          class="btn btn-secondary mr-1"
          (click)="closeCheckComment()"
        >
          Annuler
        </button>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
      </div>
    </form>
  </div>
</div>
