<header *ngIf="job" class="px-1">
  <div class="left">
    <button
      mat-icon-button
      color="accent"
      aria-label="Retour au planning"
      [routerLink]="returnRoute"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>

    <div *ngIf="job.mp.jobManager || job.mp.salesMan" class="ml-1">
      <p *ngIf="job.mp.jobManager" class="fs-1-6">{{ job.mp.jobManager }}</p>
      <p *ngIf="job.mp.salesMan" class="color-gray-7">{{ job.mp.salesMan }}</p>
    </div>
  </div>

  <div class="center">
    <h2 class="fw-light text-center main-heading">
      <span class="fw-bold mr-0-5">{{ job.mp.number }}</span> -
      {{ job.mp.company }}
      <app-icon
        class="ml-0-5 copy-mail color-info"
        (click)="copyJobMailHeading()"
      >
        {{ copied ? 'task_alt' : 'content_copy' }}
      </app-icon>
    </h2>
    <h3 class="fw-light color-gray-7 text-center">{{ job.mp.description }}</h3>
  </div>

  <div class="right d-flex flex-row justify-content-end align-items-center">
    <span
      class="chip chip-sm mr-0-5 job-status"
      [companyAppColor]="getStatusColors(job.mp.jobStatus)"
      (click)="triggerChangeJobStatus()"
    >
      {{ job.mp.jobStatus }}
    </span>

    <button
      mat-icon-button
      color="accent"
      aria-label="Sync job"
      (click)="triggerSync()"
    >
      <mat-icon>sync</mat-icon>
    </button>

    <span
      class="dot {{ dotColorClass }} mr-1"
      matTooltip="{{ syncError }}"
      matTooltipPosition="before"
    ></span>
  </div>
</header>
