header {
  position: sticky;
  top: 0;
  height: 9rem;
  border-bottom: 1rem solid var(--color-background);
  z-index: 200;
  /*background: linear-gradient(
    to right,
    var(--color-background),
    var(--color-gray-dark) 40%,
    var(--color-gray-dark) 60%,
    var(--color-background)
  );*/
  background-color: var(--color-gray-2);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .center {
    .main-heading {
      display: flex;
      align-items: center;
      justify-content: center;

      .copy-mail {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .right {
    flex: 1;
  }

  mat-label {
    font-size: 1.5rem;
  }

  .job-status {
    &:hover {
      cursor: pointer;
    }
  }
}
