.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  position: sticky;
  top: calc(var(--header-height) + 2rem);
  background-color: var(--color-gray-2);
  border-bottom: 1px solid var(--color-gray-6);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0 2rem;

  form {
    input {
      height: 3.4rem;
      border-radius: 1.7rem;
      background-color: var(--color-gray-3);
      border: none;
      outline: 2px solid var(--color-gray-3);
      padding: 0 1.5rem;
      font-size: 1.5rem;
      width: 40rem;

      &:hover,
      &:focus {
        outline-color: var(--color-gray-5);
        outline-offset: 0.3rem;
      }

      &::placeholder {
        color: var(--color-gray-6);
      }
    }
  }

  .filter-buttons {
    .device-button {
      margin-left: 0.5rem;
      padding: 0.4rem 1rem;
      border-radius: 2rem;
      font-size: 1.3rem;
      font-weight: 100;
      background-color: var(--color-gray-3);
      color: var(--color-gray-10);

      &.active {
        color: var(--color-gray-1);

        &.info {
          background-color: var(--color-info);
        }

        &.warning {
          background-color: var(--color-warning);
        }
      }
    }
  }
}
