<div class="filters">
  <form [formGroup]="form">
    <input
      type="search"
      [value]="search"
      formControlName="filter"
      placeholder="Filtre par description ou par référence ..."
    />
  </form>

  <div class="filter-buttons" *ngIf="deviceFilters?.length">
    <button
      *ngFor="let device of deviceFilters"
      class="device-button"
      [ngClass]="{
        info: !isInfoDevice(device.device),
        warning: isInfoDevice(device.device),
        active: device.isActive
      }"
      (click)="onToggleDevice(device.device)"
    >
      {{ device.device }}
    </button>
  </div>
</div>
