<div class="container">
  <h2 class="data-list-heading">Resa MultiPress</h2>

  <ng-container *ngIf="stockReservations.length">
    <ng-container *ngFor="let reservation of stockReservations">
      <h3 class="data-list-heading">
        {{ reservation.title }}
      </h3>

      <ul class="data-list">
        <ng-container *ngFor="let resa of reservation.products">
          <li class="data-list-item-group">
            <div class="data">
              <div class="data-list-item-group-line">
                <span class="title">Article</span>
                <span class="content color-primary">
                  {{ resa.productName }}
                </span>
              </div>

              <div class="data-list-item-group-line" *ngIf="resa.size">
                <span class="title">Format/laize</span>
                <span class="content">{{ resa.size }}</span>
              </div>

              <div class="data-list-item-group-line">
                <span class="title">Quantité</span>
                <span class="content">
                  {{ resa.reserved }} {{ resa.unitText }}
                </span>
              </div>
            </div>
          </li>
        </ng-container>
      </ul>
    </ng-container>
  </ng-container>

  <div
    *ngIf="!stockReservations.length"
    class="d-flex flex-row align-items-center py-2 color-gray-7"
  >
    <app-icon class="fs-3 color-info">lightbulb</app-icon> Pas de matière
    réservée dans MultiPress
  </div>

  <h2 class="data-list-heading d-flex align-items-center">
    <span class="mr-1">Resa PAO</span>
    <span class="chip chip-sm chip-{{ reservationGlobalStatus?.color }}">
      {{ reservationGlobalStatus?.status }}
    </span>
    <span class="flex-fill"></span>

    <button
      class="btn btn-outline btn-outline-primary btn-icon"
      *ngIf="canManage"
      (click)="openJobViewResaAdd()"
    >
      <app-icon>add</app-icon>
      Ajouter une matière
    </button>

    <button
      class="btn btn-outline btn-outline-info btn-icon ml-1"
      *ngIf="canDisplayPaoResaGlobalSendButton"
      (click)="sendGlobalResa()"
    >
      <app-icon>chevron_right</app-icon>
      Envoyer
    </button>

    <button
      class="btn btn-outline btn-outline-info btn-icon ml-1"
      *ngIf="canHandlePaoResaGlobally"
      routerLink="handle"
    >
      <app-icon class="mr-0-2">pan_tool</app-icon>
      Traiter
    </button>

    <button
      class="btn btn-outline btn-outline-info btn-icon ml-1"
      *ngIf="paoReservations?.length"
      (click)="printResa()"
    >
      <app-icon class="mr-0-2">print</app-icon>
      Imprimer
    </button>

    <button
      class="btn btn-outline btn-outline-info btn-icon ml-1"
      [matMenuTriggerFor]="globalMenu"
      *ngIf="displayGlobalOtherActions"
      aria-label="Actions"
    >
      <app-icon>more_vert</app-icon>
      Autres actions
    </button>
    <mat-menu #globalMenu="matMenu" xPosition="before">
      <ul class="menu">
        <li
          class="menu-item"
          *ngIf="canReturnPaoResaGlobally"
          (click)="returnPaoResaGlobally()"
        >
          <app-icon>chevron_left</app-icon>Renvoyer en PAO
        </li>

        <li
          class="menu-item"
          *ngIf="canHandlePaoResaStatusGlobally"
          (click)="setPaoResaToOrderedStatusGlobally()"
        >
          <app-icon>local_shipping</app-icon>Mettre en attente de livraison
        </li>

        <li
          class="menu-item"
          *ngIf="canResetPaoResaStatusToPendingGlobally"
          (click)="resetPaoResaToPendingStatusGlobally()"
        >
          <app-icon>undo</app-icon>Repasser en attente de traitement
        </li>

        <li
          class="menu-item"
          *ngIf="canUndoHandlingPaoResaGlobally"
          routerLink="cancel"
        >
          <app-icon>undo</app-icon>Annuler le traitement
        </li>
      </ul>
    </mat-menu>
  </h2>

  <ul class="pao-resa" *ngIf="paoReservations?.length">
    <li class="pao-resa-item" *ngFor="let resa of paoReservations">
      <div class="data">
        <div class="data-line">
          <span class="title">Matière de base</span>
          <span
            class="content material-link color-primary"
            [routerLink]="getProductStockLink(resa)"
          >
            {{ resa.displayName }}
          </span>
        </div>

        <div class="data-line">
          <span class="title">
            {{ getPaoResaDisplaySizeTitle(resa) }}
          </span>

          <span class="content">
            {{ getPaoResaDisplaySize(resa) }}
          </span>
        </div>

        <div class="data-line">
          <span class="title">Impression</span>
          <span class="content">
            {{ getDisplayFileInfo(resa) }}
          </span>
        </div>

        <div class="data-line">
          <span class="title">Statut</span>
          <span class="chip chip-sm chip-{{ getStatusColor(resa.status) }}">
            {{ getStatusLabel(resa.status) }}
          </span>
        </div>
      </div>

      <div class="comment">
        <div class="comment-item" *ngIf="resa.paoComment">
          <h3 class="comment-title">
            <app-icon class="mr-0-2">comment</app-icon>PAO
          </h3>
          <p class="comment-text">{{ resa.paoComment }}</p>
        </div>

        <div class="comment-item" *ngIf="resa.reservationComment">
          <h3 class="comment-title">
            <app-icon class="mr-0-2">comment</app-icon>RESA
          </h3>
          <p class="comment-text">{{ resa.reservationComment }}</p>
        </div>
      </div>

      <div class="actions">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <ul class="menu">
            <li
              class="menu-item"
              *ngIf="canUpdateResa(resa)"
              (click)="openJobViewResaEdit(resa)"
            >
              <app-icon>edit_note</app-icon>Modifier
            </li>

            <li
              class="menu-item"
              *ngIf="canSendResa(resa)"
              (click)="sendResa(resa)"
            >
              <app-icon>chevron_right</app-icon>Envoyer
            </li>

            <li
              class="menu-item"
              *ngIf="canDeleteResa(resa)"
              (click)="openJobViewResaDelete(resa)"
            >
              <app-icon>delete</app-icon>Supprimer
            </li>

            <li
              class="menu-item"
              *ngIf="canHandleResa(resa)"
              routerLink="handle"
            >
              <app-icon>pan_tool</app-icon>Traiter
            </li>

            <li
              class="menu-item"
              *ngIf="canReturnPaoResa(resa)"
              (click)="returnPaoResa(resa)"
            >
              <app-icon>chevron_left</app-icon>Renvoyer en PAO
            </li>

            <li
              class="menu-item"
              *ngIf="canHandleResa(resa)"
              (click)="setPaoResaStatusToDelivery(resa)"
            >
              <app-icon>local_shipping</app-icon>Mettre en attente de livraison
            </li>

            <li
              class="menu-item"
              *ngIf="canResetPaoResaStatusToPending(resa)"
              (click)="resetPaoResaToPending(resa)"
            >
              <app-icon>undo</app-icon>Repasser en attente de traitement
            </li>

            <li
              class="menu-item"
              *ngIf="canUndoPaoResaHandling(resa)"
              routerLink="cancel"
            >
              <app-icon>undo</app-icon>Annuler le traitement
            </li>
          </ul>
        </mat-menu>
      </div>
    </li>
  </ul>

  <div
    *ngIf="!paoReservations"
    class="d-flex flex-row align-items-center py-2 color-gray-7"
  >
    <app-icon class="fs-3 color-info">lightbulb</app-icon> Pas de matière
    réservée en PAO pour ce job
  </div>
</div>
