.container {
  .pao-resa {
    margin-top: 2rem;

    .pao-resa-item {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      column-gap: 3rem;
      padding: 1.5rem;
      transition: background-color 0.2s ease-in-out;
      border-radius: 0.5rem;
      border-bottom: 1px solid var(--color-gray-3);

      &:first-child {
        border-top: 1px solid var(--color-gray-3);
      }

      &:hover {
        background-color: var(--color-gray-2);
      }

      .data {
        .data-line {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          padding: 0.4rem 0;

          .title {
            width: 15rem;
            color: var(--color-gray-8);
          }

          .material-link {
            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .comment {
        flex: 1;
        display: flex;
        column-gap: 1rem;
        color: var(--color-info);

        .comment-item {
          padding: 1rem;
          border: 1px solid var(--color-info);
          border-radius: 0.5rem;
          max-width: 30rem;

          .comment-title {
            display: flex;
            align-items: center;
          }

          .comment-text {
            margin-top: 0.5rem;
            white-space: pre-line;
          }
        }
      }

      .actions {
      }
    }
  }
}
