<div class="bg-color-gray-3" *ngIf="selectedJob$ | async; let job">
  <header class="p-3">
    <h2>Résumé du job n° {{ job.mp.number }}</h2>
    <h3 class="fw-light color-primary">{{ job.mp.company }}</h3>
    <h3 class="fw-light fs-1-6 mt-1 text-italic">
      {{ job.mp.description }}
    </h3>
  </header>

  <div class="content">
    <div *ngIf="deliveryAddresses.length" class="px-3">
      <h3 class="fs-2 fw-medium mb-1">Livraisons</h3>
      <ul class="mt-1">
        <ng-container *ngFor="let address of deliveryAddresses">
          <li *ngIf="address.mp.company || address.mp.address">
            <p>{{ address.mp.company }}</p>
            <p>{{ address.mp.address }}</p>
            <p>
              {{ address.mp.zipCode }}
              <span *ngIf="address.mp.city"> - {{ address.mp.city }}</span>
            </p>
          </li>
        </ng-container>
      </ul>
    </div>

    <!--<div class="px-3 pt-3" *ngFor="let production of productions">
      <h3 class="fs-1-6 fw-medium">{{ production.device }}</h3>
      <ul class="mt-1">
        <ng-container *ngFor="let subJob of production.subJobs">
          <li
            *ngIf="
              subJob.productionData &&
              subJob.productionData.numericLayers &&
              subJob.productionData.numericLayers.length
            "
            class="list-item py-0-5 d-flex flex-row justify-content-between align-items-center"
          >
            <div>
              <p>
                {{ subJob.productionData.numericLayers[0].width }} x
                {{ subJob.productionData.numericLayers[0].height }} mm
              </p>
              <p class="fw-light fs-1-4 color-gray-8 text-italic">
                {{ subJob.description }}
              </p>
            </div>

            <div class="ml-3">
              {{ subJob.productionData.numericLayers[0].quantity }} ex
            </div>
          </li>
        </ng-container>
      </ul>
    </div>-->

    <div class="mt-3"></div>
  </div>
  <footer class="p-3 text-center">
    <button class="btn btn-secondary" mat-dialog-close="true">Fermer</button>
  </footer>
</div>
