<div class="container">
  <div class="left">
    <button
      mat-icon-button
      color="accent"
      aria-label="Jour précédent"
      (click)="emitPreviousDate()"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>

    <button
      mat-icon-button
      color="accent"
      aria-label="Jour précédent"
      (click)="emitResetDate()"
    >
      <mat-icon>refresh</mat-icon>
    </button>

    <button
      mat-icon-button
      color="accent"
      aria-label="Jour suivant"
      (click)="emitNextDate()"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <h2 class="fw-bold">
    {{ currentDate | date : 'EEEE dd MMMM y' }}
  </h2>

  <div class="right d-flex flex-row align-items-center">
    <input
      type="text"
      class="outline expandable mr-2"
      placeholder="Filtrer..."
      (keyup)="applyFilter($event)"
    />

    <button mat-icon-button (click)="emitPrint()">
      <mat-icon>print</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        <mat-icon>arrow_forward</mat-icon>
        <span>Décaler des dossiers</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>check_small</mat-icon>
        <span>Archiver des dossiers</span>
      </button>
    </mat-menu>
  </div>
</div>
