.container {
  position: sticky;
  top: 0;
  padding: 2rem;
  z-index: 200;
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    min-width: 25rem;
  }

  .right {
    min-width: 25rem;
  }
}
