.comment-container {
  margin-top: 1rem;

  .comment {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.5rem 2rem 0.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--color-gray-2);
    color: var(--color-info);
    transition: background-color 0.2s ease-in-out;

    .comment-text {
      display: block;
      white-space: pre-wrap;
    }
  }
}
