<div class="dialog" *ngIf="selectedJob$ | async; let job">
  <header class="p-3">
    <h2>Finitions du job n° {{ job.mp.number }}</h2>
    <h3 class="fw-light color-primary">{{ job.mp.company }}</h3>
  </header>
  <div class="content px-3">
    <ul *ngIf="job.meta.deliveryServiceFinishs.length">
      <li *ngFor="let finish of job.meta.deliveryServiceFinishs">
        {{ finish }}
      </li>
    </ul>
  </div>
  <footer class="p-3 d-flex flex-row justify-content-end">
    <button mat-button mat-dialog-close="true">Ok</button>
  </footer>
</div>
