<div class="container" *ngIf="deliveries">
  <h2 class="ml-2">LIVRAISONS</h2>

  <ul class="delivery">
    <ng-container *ngFor="let delivery of deliveries">
      <li class="delivery-item">
        <div class="delivery-heading">
          <span class="chip chip-primary">{{ delivery.deliveryMethod }}</span>
          <app-icon class="ml-1 mr-0-5 fs-3">package_2</app-icon>
          <span class="color-gray-8 mr-0-5 fs-1-6">Départ</span>
          <span class="color-info fs-1-6">
            {{ delivery.sendingDate | date : 'EEEE d MMMM' }}
          </span>
          <app-icon class="ml-1 mr-0-5 fs-3">event_upcoming</app-icon>
          <span class="color-gray-8 mr-0-5 fs-1-6">Livraison</span>
          <span class="color-info fs-1-6">
            {{ delivery.deliveryDate | date : 'EEEE d MMMM' }}
          </span>
        </div>

        <div class="columns">
          <div class="column">
            <h3>Adresse</h3>
            <ul class="info">
              <li class="info-item">
                <p class="label">Companie</p>
                <p class="value">{{ delivery.company }}</p>
              </li>

              <li class="info-item">
                <p class="label">Adresse</p>
                <p class="value">{{ getDisplayDeliveryAddress(delivery) }}</p>
              </li>

              <li class="info-item" *ngIf="delivery.extraAddress?.length">
                <p class="label">Complément</p>
                <div class="value">
                  <ul>
                    <li *ngFor="let extraAddress of delivery.extraAddress">
                      {{ extraAddress }}
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>

          <div class="column">
            <h3>Contact</h3>
            <ul class="info">
              <li class="info-item">
                <p class="label">Client</p>
                <p class="value">
                  {{ delivery.relation ? delivery.relation : '-' }}
                </p>
              </li>

              <li class="info-item">
                <p class="label">Nom</p>
                <p class="value">
                  {{ delivery.contactName ? delivery.contactName : '-' }}
                </p>
              </li>

              <li class="info-item">
                <p class="label">Email</p>
                <p class="value">
                  {{ delivery.email ? delivery.email.toLowerCase() : '-' }}
                </p>
              </li>

              <li class="info-item">
                <p class="label">Téléphone</p>
                <p class="value">
                  {{ delivery.phone ? delivery.phone : '-' }}
                </p>
              </li>
            </ul>
          </div>
          <div class="column">
            <h3>Meta-données</h3>
            <ul class="info">
              <li class="info-item">
                <p class="label">Nb de références</p>
                <p class="value">
                  {{ delivery.items.length }}
                </p>
              </li>

              <li class="info-item">
                <p class="label">Poids total</p>
                <p class="value">
                  {{ delivery.totalWeight | number : '1.0-1' }} Kg
                </p>
              </li>
            </ul>
          </div>
        </div>

        <ul class="sub-job">
          <li *ngFor="let item of delivery.items" class="sub-job-item">
            <div class="icon"><app-icon class="fs-3">package_2</app-icon></div>

            <div class="data">
              <div class="data-line">
                {{ item.description }} - {{ item.quantity }}
                <app-icon class="fs-2 ml-0-5 color-info">content_copy</app-icon>
                {{ item.quantity }}ex.
                <app-icon class="fs-2 ml-0-5 color-info">weight</app-icon>
                {{ item.weight }}kg
                <app-icon class="fs-2 ml-0-5 color-info" *ngIf="item.packedPer">
                  package_2
                </app-icon>
                <span *ngIf="item.packedPer">
                  Emballé par {{ item.packedPer }}ex.
                </span>
                <app-icon class="fs-2 color-info ml-0-5" *ngIf="item.device">
                  print
                </app-icon>
                <span *ngIf="item.device">{{ item.device }}</span>
              </div>

              <div *ngIf="item.extraInfo" class="data-line comment">
                <app-icon class="fs-2">lightbulb</app-icon>
                {{ item.extraInfo }}
              </div>
            </div>

            <div class="meta-data">
              <span class="chip chip-sm" *ngIf="item.productType">
                {{ item.productType }}
              </span>
            </div>
          </li>
        </ul>
        <!--<div class="comment" *ngIf="delivery.mp.extraInfo">
          <app-icon class="fs-3">lightbulb</app-icon>
          {{ delivery.mp.extraInfo }}
        </div>-->
      </li>
    </ng-container>
  </ul>
</div>
