.container {
  .delivery {
    margin-top: 2rem;

    .delivery-item {
      padding: 2rem;
      transition: background-color 0.2s ease-in-out;
      border-bottom: 1px solid var(--color-gray-6);

      &:first-child {
        border-top: 1px solid var(--color-gray-6);
      }

      &:hover {
        background-color: var(--color-gray-2);

        .sub-job {
          .sub-job-item {
            background-color: var(--color-gray-3);

            &:hover {
              background-color: var(--color-gray-4);
            }
          }
        }
      }

      .delivery-heading {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
      }

      .dates {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-top: 2rem;
        font-size: 2rem;
      }

      .columns {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 2rem;
        margin-top: 2rem;

        .column {
          flex: 2;

          &:last-child {
            flex: 1;
          }

          .info {
            margin-top: 0.5rem;

            .info-item {
              display: flex;
              flex-flow: row nowrap;
              line-height: 2rem;

              .label {
                color: var(--color-gray-8);
                width: 12rem;
              }

              .value {
                white-space: pre-wrap;
              }
            }
          }
        }
      }

      .sub-job {
        margin-top: 2rem;

        .sub-job-item {
          padding: 0.5rem;
          margin: 1rem 0;
          border-radius: 0.5rem;
          transition: background-color 0.2s ease-in-out;
          display: flex;
          align-items: center;
          background-color: var(--color-gray-2);

          &:hover {
            background-color: var(--color-gray-3);
          }

          .icon {
            padding: 0.5rem 1rem;
            color: var(--color-primary);
          }

          .data {
            display: flex;
            flex-direction: column;
            flex: 1;

            .data-line {
              display: flex;
              flex-direction: row;
              align-items: center;
              padding: 0.5rem;

              &.comment {
                width: fit-content;
                padding: 0 0 0.5rem 0;
                border-radius: 1rem;
                color: var(--color-info);
                transition: background-color 0.2s ease-in-out;
              }
            }
          }

          .meta-data {
            display: flex;
            align-items: center;
            padding: 0.5rem 2rem 0.5rem 0.5rem;

            .meta-data-item {
              display: flex;
              align-items: center;
              padding: 0.5rem;
            }
          }
        }
      }
    }
  }
}
