<div class="container">
  <form [formGroup]="form" (submit)="submitForm()">
    <img
      src="assets/images/brand/atc-optima.svg"
      alt="ATC Groupe"
      class="px-1 mb-3"
    />

    <p class="error mb-3" *ngIf="error$ | async; let error">{{ error }}</p>

    <mat-form-field appearance="outline">
      <mat-label>Identifiant</mat-label>
      <input matInput formControlName="identifier" type="text" autofocus />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>

    <button mat-raised-button>Valider</button>
  </form>
</div>
