.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    width: 100%;
    max-width: 350px;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    img {
    }

    mat-label {
      font-size: 1.5rem;
    }

    input {
      font-weight: 200;
    }

    .error {
      padding: 1.5rem;
      border-radius: 0.5rem;

      background-color: var(--color-error);
    }
  }
}
