<div class="container" *ngIf="nav$ | async; let nav">
  <div class="nav-container">
    <company-app-nav [nav]="nav"></company-app-nav>
  </div>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
