<div class="container" *ngIf="job">
  <div class="info pt-1" *ngIf="job.mp.infoGlobal">
    <h2 class="info-heading">
      <app-icon class="fs-3 color-primary">lightbulb</app-icon>
      Info Générale
    </h2>

    <p class="info-content mt-1">
      {{ job.mp.infoGlobal }}
    </p>
  </div>

  <div class="info pt-3" *ngIf="job.mp.infoPlanning">
    <h2 class="info-heading">
      <app-icon class="fs-3 color-primary">lightbulb</app-icon>
      Info Planning
    </h2>

    <p class="info-content mt-1">
      {{ job.mp.infoPlanning }}
    </p>
  </div>

  <div class="info pt-3" *ngIf="job.mp.infoDigital">
    <h2 class="info-heading">
      <app-icon class="fs-3 color-primary">lightbulb</app-icon>
      Info Digital
    </h2>

    <p class="info-content mt-1">
      {{ job.mp.infoDigital }}
    </p>
  </div>

  <div class="info pt-3" *ngIf="job.mp.infoPrint">
    <h2 class="info-heading">
      <app-icon class="fs-3 color-primary">lightbulb</app-icon>
      Info Impression
    </h2>

    <p class="info-content mt-1">
      {{ job.mp.infoPrint }}
    </p>
  </div>

  <div class="info pt-3" *ngIf="job.mp.infoFinishing">
    <h2 class="info-heading">
      <app-icon class="fs-3 color-primary">lightbulb</app-icon>
      Info Finition
    </h2>

    <p class="info-content mt-1">
      {{ job.mp.infoFinishing }}
    </p>
  </div>

  <div class="info pt-3" *ngIf="job.mp.infoExpedition">
    <h2 class="info-heading">
      <app-icon class="fs-3 color-primary">lightbulb</app-icon>
      Info Expéditions
    </h2>

    <p class="info-content mt-1">
      {{ job.mp.infoExpedition }}
    </p>
  </div>

  <div class="info pt-3" *ngIf="job.mp.infoSubContract">
    <h2 class="info-heading">
      <app-icon class="fs-3 color-primary">lightbulb</app-icon>
      Info Sous-traitance
    </h2>

    <p class="info-content mt-1">
      {{ job.mp.infoSubContract }}
    </p>
  </div>

  <div class="message" *ngIf="hasNoComment">
    <span class="p-2 d-flex justify-content-start align-items-center fs-1-6">
      <app-icon class="fs-4 color-info">lightbulb</app-icon>
      Aucun commentaire saisi pour ce job.
    </span>
  </div>
</div>
