form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  mat-label {
    font-size: 1.5rem;
  }

  mat-error {
    font-size: 1.2rem;
  }

  input {
    font-size: 1.5rem;
  }

  mat-option {
    padding: 0;
  }
}

.loading {
  height: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
