<div class="bg-color-gray-3" *ngIf="selectedJob">
  <header class="px-3 pt-3">
    <h2>Statut du job n° {{ selectedJob.mp.number }}</h2>

    <h3 class="fw-light color-primary">{{ selectedJob.mp.company }}</h3>

    <h3 class="fw-light fs-1-6 mt-1 text-italic">
      {{ selectedJob.mp.description }}
    </h3>
  </header>

  <div class="px-3 pt-3" *ngIf="!isLoading">
    <form [formGroup]="form" (ngSubmit)="changeJobStatus()">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Statut</mat-label>

        <mat-select formControlName="status">
          <mat-option
            *ngFor="let status of jobStatus$ | async"
            [value]="status.number"
          >
            {{ status.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div
        class="p-2 bg-color-error rounded-0-5 mb-2"
        *ngIf="error$ | async; let error"
      >
        {{ error }}
      </div>

      <div class="pb-3 pt-1 text-right">
        <button
          type="button"
          class="btn btn-secondary mr-1"
          [mat-dialog-close]="'cancel'"
        >
          Annuler
        </button>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
      </div>
    </form>
  </div>

  <div class="loading" *ngIf="isLoading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
