.checklist-container {
  flex: 1 1 50%;

  .checklist-heading {
    color: var(--color-info);
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;

    .copy-checklist {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .checklist {
    .checklist-item {
      display: flex;
      flex-flow: row nowrap;
      font-weight: 300;
      padding: 0.3rem 0;

      .label {
        width: 10rem;
        color: var(--color-gray-8);
      }

      .value {
        white-space: pre-wrap;
        line-height: 2rem;
      }
    }
  }
}
