<div class="checklist-container" *ngIf="subJob">
  <h2 class="checklist-heading">
    Checklist
    <app-icon
      class="ml-0-5 copy-checklist color-info"
      (click)="copyChecklist()"
    >
      {{ checklistCopied ? 'task_alt' : 'content_copy' }}
    </app-icon>
  </h2>

  <ul class="checklist" *ngIf="checklist">
    <li class="checklist-item">
      <p class="label">Ref. prod ATC</p>
      <p class="value">{{ atcProdRef }}</p>
    </li>

    <li class="checklist-item">
      <p class="label">Quantité</p>
      <p class="value">{{ subJob.quantity1 }}ex.</p>
    </li>

    <li *ngFor="let checklistItem of subJob.checklist" class="checklist-item">
      <p class="label">
        {{ checklistItem.label }}
      </p>
      <p class="value">{{ checklistItem.value }}</p>
    </li>
  </ul>
</div>
