<div class="container" *ngIf="product && products">
  <h3 class="color-info">{{ product.name }}</h3>

  <ul class="info">
    <li class="info-item">
      <p class="label">Famille</p>
      <p class="content">{{ product.groupDescription }}</p>
    </li>

    <li class="info-item">
      <p class="label">Type</p>
      <p class="content">{{ product.type }}</p>
    </li>

    <li class="info-item">
      <p class="label">Epaisseur</p>
      <p class="content">{{ product.thickness }}mm</p>
    </li>

    <li class="info-item">
      <p class="label">Couleur</p>
      <p class="content">{{ product.color }}</p>
    </li>

    <li class="info-item">
      <p class="label">Côté imprimé</p>
      <p class="content">
        {{ product.insidePrint ? 'Intérieur' : 'Extérieur' }}
      </p>
    </li>

    <li class="info-item">
      <p class="label">Fabricant</p>
      <p class="content">{{ product.supplier }}</p>
    </li>
  </ul>

  <h3 class="mt-3 color-info">Formats disponibles</h3>

  <ul class="size mt-1">
    <ng-container *ngFor="let item of products">
      <li class="size-item" *ngIf="product?.thickness === item.thickness">
        {{ getPaperSize(item) }}
        <span class="color-gray-8">{{ getDisplayStock(item) }}</span>
      </li>
    </ng-container>
  </ul>
</div>

<div *ngIf="!product || !products" class="loading">
  <ng-container *ngIf="error">
    <div class="error-message">
      <app-icon class="fs-4 mr-0-5">error</app-icon>
      Le produit n'a pas été trouvé...
    </div>
  </ng-container>

  <mat-progress-spinner
    mode="indeterminate"
    *ngIf="!error"
  ></mat-progress-spinner>
</div>
