.container {
  padding: 4rem;
  color: var(--color-gray-13);
  font-size: 1.6rem;
  background-color: var(--color-gray-2);

  .info {
    margin-top: 1rem;

    .info-item {
      display: flex;
      flex-flow: row nowrap;
      padding: 0.3rem 0;

      .label {
        width: 15rem;
        color: var(--color-gray-8);
      }
    }
  }

  .size {
    .size-item {
      padding: 0.3rem 0;
    }
  }
}

.loading {
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-2);

  .error-message {
    padding: 1.5rem;
    background-color: var(--color-error);
    border-radius: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}
