footer {
  width: 100%;
  height: var(--footer-height);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    var(--color-background) 10%,
    var(--color-gray-dark) 50%,
    var(--color-background) 90%
  );
  color: var(--color-gray-6);
}
