.container {
  padding: 2rem;

  .heading-history {
    .date {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
    }
  }

  .content {
    height: 42rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    .mutations {
      width: 100%;
      border: none;
      border-collapse: collapse;

      tr {
        transition: background-color 0.2s ease-in-out;
        &:hover {
          background-color: var(--color-gray-3);
        }
      }

      th {
        padding: 1rem;
        text-align: left;
        font-weight: 500;
        font-size: 1.6rem;
        background-color: var(--color-gray-5);
      }

      td {
        padding: 1rem;
      }
    }

    .message {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 4rem;

      span {
        color: var(--color-info);
        font-size: 1.6rem;
      }
    }
  }

  .actions {
    margin-top: 2rem;
    text-align: center;
  }
}
