<div class="container">
  <div class="heading-history">
    <h1 class="text-center mt-1">Historique des mutations de stock</h1>
    <h2 class="color-primary text-center mt-0-5">
      {{ product.completeName }}
    </h2>

    <div class="date">
      <button
        mat-icon-button
        color="accent"
        aria-label="Jour précédent"
        (click)="onTriggerPrevDate()"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>

      <span class="mx-2 fs-2">
        {{ date$ | async | date : 'dd / MM / yyyy' }}
      </span>

      <button
        mat-icon-button
        color="accent"
        aria-label="Jour suivant"
        (click)="onTriggerNextDate()"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>

  <div class="content">
    <table class="mutations" *ngIf="mutations?.length">
      <tbody>
        <tr>
          <th>Mutation</th>
          <th>N° Job</th>
          <th>Description</th>
        </tr>
        <tr *ngFor="let mutation of mutations">
          <td>
            <span
              class="chip chip-sm chip-success color-gray-1"
              *ngIf="mutation.add"
            >
              + {{ getQuantity(mutation.add) }} {{ displayUnit }}
            </span>

            <span class="chip chip-sm chip-error" *ngIf="mutation.subtract">
              - {{ getQuantity(mutation.subtract) }} {{ displayUnit }}
            </span>
          </td>
          <td>{{ mutation.job_number ? mutation.job_number : '' }}</td>
          <td>{{ mutation.description }}</td>
        </tr>
      </tbody>
    </table>

    <div class="message" *ngIf="!mutations?.length">
      <span>
        Il n'y a eu aucune mutation de stock sur ce produit le
        {{ date$ | async | date : 'dd/MM/yyyy' }}
      </span>
    </div>
  </div>

  <div class="actions">
    <button class="btn btn-secondary ml-1" mat-dialog-close>Fermer</button>
  </div>
</div>
