<div class="bg-color-gray-3" *ngIf="selectedJob$ | async; let job">
  <header class="p-3">
    <h2>Commentaire du job n° {{ job.mp.number }}</h2>

    <h3 class="fw-light color-primary">{{ job.mp.company }}</h3>

    <h3 class="fw-light fs-1-6 mt-1 text-italic">
      {{ job.mp.description }}
    </h3>
  </header>

  <div class="px-3">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label class="fs-1-6">Commentaire</mat-label>
      <textarea matInput rows="5" cols="40" [(ngModel)]="comment"></textarea>
    </mat-form-field>

    <div class="error" *ngIf="error$ | async; let error">
      {{ error }}
    </div>
  </div>

  <footer class="px-3 pb-3 pt-1 d-flex flex-row justify-content-end">
    <button class="btn btn-secondary mr-1" mat-dialog-close>Annuler</button>

    <button class="btn btn-primary" (click)="updateComment()">
      Enregistrer
    </button>
  </footer>
</div>
