<div class="container">
  <h1
    class="py-2 px-1 header fw-light fs-2 d-flex align-items-center bg-color-background"
  >
    Liste des paramétrages d'
    <span class="color-primary ml-0-5 flex-fill">articles</span>

    <button class="btn btn-icon btn-dark" (click)="openArticleMetaEdit()">
      <app-icon>add</app-icon> Ajouter
    </button>
  </h1>

  <ul class="list mb-10" *ngIf="articlesMeta$ | async; let articlesMeta">
    <li
      class="list-item d-flex justify-content-between align-items-center"
      *ngFor="let articleMeta of articlesMeta"
    >
      <div class="my-0-5 d-flex align-items-center flex-fill">
        <span class="ml-1 flex-fill">
          {{ articleMeta.article.completeName }}
        </span>

        <span class="chip chip-sm chip-info">
          {{ articleMeta.packUnitLabel }}
        </span>

        <span class="chip chip-sm chip-success mx-0-5">
          {{ articleMeta.packQuantity }} {{ articleMeta.article.unit }}
        </span>
      </div>

      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu" xPosition="before">
          <ul class="menu">
            <li class="menu-item" (click)="openArticleMetaEdit(articleMeta)">
              <app-icon>edit_note</app-icon>Modifier
            </li>

            <li class="menu-item" (click)="openArticleMetaDelete(articleMeta)">
              <app-icon>edit_note</app-icon>Supprimer
            </li>
          </ul>
        </mat-menu>
      </div>
    </li>
  </ul>
</div>
