.container {
  border-bottom: 1px solid var(--color-gray-base);

  .header {
    position: sticky;
    top: var(--header-height);
    z-index: 100;
  }

  &:last-child {
    border-bottom: none;
  }

  .actions {
    display: flex;
    justify-content: center;
  }
}
