.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  background-color: var(--color-gray-2);
  border-radius: 0.5rem;

  ul {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 2rem;

    li {
      padding: 0.1rem 0.8rem 0.1rem 0.4rem;
      font-size: 1.4rem;
      font-weight: 400;
      border: 1px solid var(--color-gray-2);
      border-radius: 0.5rem;
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
        border-color: var(--color-primary);
      }

      &.active {
        color: var(--color-gray-1);
        background-color: var(--color-primary);
      }

      .icon {
        margin-right: 0.3rem;
      }
    }
  }
}
