<nav class="container">
  <ul>
    <li routerLink="materials" routerLinkActive="active">
      <app-icon class="icon">database</app-icon>
      STOCK
    </li>

    <li routerLink="reservations" routerLinkActive="active">
      <app-icon class="icon">lunch_dining</app-icon>
      RESERVATIONS MATIÈRES
    </li>
  </ul>
</nav>
