<div class="container">
  <h1
    class="py-2 px-1 header fw-light fs-2 d-flex align-items-center bg-color-background"
  >
    Liste des <span class="color-primary ml-0-5 flex-fill">statuts</span>

    <button class="btn btn-icon btn-dark" (click)="syncFromMultiPress()">
      <app-icon>sync</app-icon> Synchroniser
    </button>
  </h1>

  <ul class="list mb-10">
    <li
      *ngFor="let status of statusList$ | async"
      class="list-item d-flex justify-content-between align-items-center"
    >
      <div class="my-0-5">
        <p class="fw-light">
          <span
            class="chip chip-sm"
            [companyAppColor]="{
              background: status.color,
              color: status.textColor
            }"
          >
            {{ status.label }}
          </span>
          <span class="ml-1">{{ status.name }}</span>
        </p>
      </div>

      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu" xPosition="before">
          <ul class="menu">
            <li class="menu-item" (click)="openEditStatus(status)">
              <app-icon>edit_note</app-icon>Modifier
            </li>
          </ul>
        </mat-menu>
      </div>
    </li>
  </ul>
</div>
