body {
  font-family: var(--font-family);
  font-weight: 400;
  background-color: var(--color-background);
  color: var(--color-text);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color ease-in-out 0.2s;

  &:hover {
    color: var(--color-gray-light);
  }
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

button {
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-gray-6);
  margin: 2rem 0;
}

table {
  font-size: 1.5rem;

  tr {
    td {
      font-weight: 300;
    }
  }
}
