input {
  padding: 1.3rem;
  outline: none;
  border-radius: 0.5rem;
  border: none;
  color: var(--color-gray-light);
  font-family: var(--font-family);
  font-size: 1.8rem;
  font-weight: 300;
  transition: all 0.2s ease-in-out;

  &::placeholder {
    color: var(--color-gray-8);
  }

  &.expandable {
    width: 15rem;

    &:focus {
      width: 30rem;
    }
  }

  &.outline {
    border: 1px solid var(--color-gray-8);
    background: none;

    &:focus {
      border: 1px solid var(--color-gray-light);
    }
  }
}
