@use '@angular/material' as mat;
@include mat.core();

$company-app-primary: mat.define-palette(mat.$deep-orange-palette);
$company-app-accent: mat.define-palette(
  mat.$blue-grey-palette,
  A200,
  A100,
  A400
);

$company-app-warn: mat.define-palette(mat.$red-palette);
$company-app-theme: mat.define-dark-theme(
  (
    color: (
      primary: $company-app-primary,
      accent: $company-app-accent,
      warn: $company-app-warn,
    ),
  )
);

@include mat.all-component-themes($company-app-theme);

// Tooltips
mat-tooltip-component {
  font-size: 1.2rem;
  white-space: nowrap;
}

// Icons
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 48;
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
}

.mdc-data-table__header-cell {
  background: none;
}
