$names: "", sm\:, md\:, lg\:, xl\:, xxl\:;

@mixin sm {
  @media only screen and (min-width: 640px) {
    @content;
  }
}

@mixin md {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}

@mixin \2xl {
  @media only screen and (min-width: 1536px) {
    @content;
  }
}

@mixin set($media) {
  @if #{$media} == sm\: {
    @include sm {
      @content;
    }
  } @else if #{$media} == md\: {
    @include md {
      @content;
    }
  } @else if #{$media} == lg\: {
    @include lg {
      @content;
    }
  } @else if #{$media} == xl\: {
    @include xl {
      @content;
    }
  } @else if #{$media} == \2xl\: {
    @include \2xl {
      @content;
    }
  } @else if #{$media} == "" {
    @content;
  }
}
