:root {
  // Colors
  // -- Base --
  --color-primary: #ff6100;
  --color-secondary: #ddd;
  --color-text: #eee;
  --color-background: #111;
  --color-error: #ff3232;
  --color-warning: #ff6f16;
  --color-success: #98e824;
  --color-info: #78c6f1;
  --color-atc-purple: #4d2f48;

  // -- Hover --
  --color-primary-hover: #ff7628;
  --color-success-hover: #bcf370;
  --color-info-hover: #28a6ec;
  --color-error-hover: #ff4b4b;

  // -- Grays --
  --color-gray-1: #111;
  --color-gray-2: #222;
  --color-gray-3: #333;
  --color-gray-4: #444;
  --color-gray-5: #555;
  --color-gray-6: #666;
  --color-gray-7: #777;
  --color-gray-8: #888;
  --color-gray-9: #999;
  --color-gray-10: #aaa;
  --color-gray-11: #bbb;
  --color-gray-12: #ccc;
  --color-gray-13: #ddd;
  --color-gray-14: #eee;

  --color-gray-table-hover-background: #494949;

  --color-gray-light: var(--color-gray-11);
  --color-gray-base: var(--color-gray-6);
  --color-gray-dark: var(--color-gray-2);

  // Fonts
  --font-family: 'Roboto', sans-serif;

  // Header
  --header-height: 7rem;
  --footer-height: 6rem;
  --content-height: calc(100vh - var(--header-height) - var(--footer-height));
}
