<div class="container p-3 bg-color-gray-3">
  <ng-container *ngIf="!success">
    <h2 class="mb-4 mt-1 fw-light text-center">
      Créer un nouvel utilisateur Client
    </h2>

    <form [formGroup]="form" (ngSubmit)="saveUser()">
      <mat-form-field appearance="outline" color="accent" class="mb-2">
        <mat-label>Client</mat-label>
        <mat-select formControlName="customerId">
          <mat-option
            *ngFor="let customer of customers$ | async"
            [value]="customer.id"
          >
            {{ customer.company }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent" class="mb-2">
        <mat-label>Utilisateur Active Directory</mat-label>
        <mat-select formControlName="contact">
          <mat-option
            *ngFor="let contact of contacts$ | async"
            [value]="contact.id + '|' + contact.email"
          >
            {{ contact.completeName }}
          </mat-option>
        </mat-select>
        <mat-error>
          Le mail de ce contact n'a pas été saisi dans MultiPress
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent" class="mb-2">
        <mat-label>Role</mat-label>
        <mat-select formControlName="roleId">
          <mat-option
            *ngFor="let role of customerRoles$ | async"
            [value]="role._id"
          >
            {{ role.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div
        class="p-2 bg-color-error rounded-0-5 mb-2"
        *ngIf="error$ | async; let error"
      >
        {{ error }}
      </div>

      <div class="mt-3 text-center">
        <button class="btn btn-secondary mr-1" mat-dialog-close>Annuler</button>

        <button class="btn btn-primary">Enregistrer</button>
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="success">
    <h2
      class="mt-1 fw-light text-center fs-2 d-flex justify-content-center align-items-center"
    >
      <app-icon class="fs-5">verified_user</app-icon>
      Utilisateur enregistré
    </h2>

    <p class="px-2 mt-3 fs-1-5 text-center">
      L'utilisateur a été créé avec succès.
    </p>

    <p class="px-2 mt-3 fs-1-5">
      Voici son
      <span class="color-primary">mot de passe temporaire</span>. Il lui sera
      possible de le modifier à tout moment depuis son interface.
    </p>

    <p class="px-2 mt-1 mb-3 fs-1-5">
      Pensez à le copier car après la fermeture de cette fenêtre, il ne sera
      plus possible de l'afficher
    </p>

    <p class="password" (click)="copyPasswordToClipboard()">
      {{ randomPassword }}
      <span class="icon" *ngIf="!copied">
        <app-icon>content_copy</app-icon>
      </span>

      <span class="icon chip chip-sm color-gray-13" *ngIf="copied">
        Copié
      </span>
    </p>

    <div class="mt-3 text-center">
      <button class="btn btn-primary mr-1" mat-dialog-close>Fermer</button>
    </div>
  </ng-container>
</div>
