.color-picker-container {
  padding: 0.5rem;
  border-color: var(--color-gray-6);
  background-color: var(--color-gray-4);
  height: 4rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;

  &:has(.ng-invalid) {
    border-color: var(--color-error);
  }

  .color-picker {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-gray-6);
    border-radius: 0.4rem;
    background-color: var(--color-gray-3);

    input[type='color'] {
      width: 100%;
      height: 100%;
      background: none;
      opacity: 0;
    }
  }
}
