<div class="color-picker-container" [ngClass]="class">
  <div class="color-picker" [style.backgroundColor]="innerValue">
    <input
      type="color"
      [id]="id"
      [(ngModel)]="innerValue"
      (change)="updateValue()"
    />
  </div>
</div>
